<div class="cardcontainer">
  <div class="card">
    <div [routerLink]="['/'+this.translate.currentLang+'/product', product.id]">
      <img class="card-img-top" [attr.src]="GlobalsService.productPhotosMediaURLs + product.photosJSON.thumbnail">
      <div class="card-body">
        <div class="row">
          <div class="card-text col-7">
            <div class="h6 font-weight-bold">{{product.name}}</div>
            <div class="card-text-specs">
              <div class="spec"><b>{{'catalog.product_type' | translate}}:</b> {{product.productType.name}}</div>
              <div class="spec"><b>{{'catalog.product_model' | translate}}:</b> {{product.productModel.name}}</div>
            </div>

          </div>
          <div class="card-text-price col-5">
            <div class="h6 font-weight-bold pricelabel">
              <span *ngIf="this.DataService.isDiscountActive()">{{product.price*0.6 | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
                <br><s style="color:red; font-weight: 500;white-space: pre; font-size:smaller">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}</s>
              </span>
              <span *ngIf="!this.DataService.isDiscountActive()">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
              </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  <div class="add-to-cart-btn"><app-add-to-cart-btn (click)="onAddToCart(product)" class="add-to-cart-button"></app-add-to-cart-btn></div>
</div>