<!-- <div id="container">

  <ng-particles id="tsparticles" [id]="id" [options]="options" [particlesInit]="particlesInit" (particlesLoaded)="particlesLoaded($event)" class="particles">

  </ng-particles>

  <div id="content">
    <h1 class="label line1"><b>Honeycomb</b></h1>
    <h1 class="label" style="float: left;"><b>Rollers</b></h1>
  </div>

</div> -->
<div class="navigation-wrapper">
  <div class="keen-slider keen-slider--vertical" #sliderRef>
    <div class="keen-slider__slide number-slide1" (click)="this.router.navigate(['bg/product/b52271b9-7ee0-49ea-8d2c-ce40c5f16f22']);" style="cursor: pointer;">
      <img src="https://res.cloudinary.com/dvkjlgu83/image/upload/f_auto,q_auto/v1/design-oflesh/MAIN-1-1-1/alttrxolxszytikzkysy">
    </div>
    <div class="keen-slider__slide number-slide2" (click)="this.router.navigate(['bg/product/b52271b9-7ee0-49ea-8d2c-ce40c5f16f11']);" style="cursor: pointer;">
      <img src="https://res.cloudinary.com/dvkjlgu83/image/upload/f_auto,q_auto/v1/design-oflesh/MAIN-1-1-1/zod5rpzf9bc79tnobl1g">
    </div>
  </div>
  <svg [ngClass]="'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')"
    (click)="slider.prev()"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
  </svg>
  <svg
    *ngIf="slider"
    [ngClass]="
      'arrow arrow--right ' +
      (slider.track.details.slides.length - 1 === currentSlide
        ? 'arrow--disabled'
        : '')
    "
    (click)="slider.next()"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
  </svg>
</div>
<div class="dots">
  <button
    (click)="slider.moveToIdx(i)"
    *ngFor="let slide of dotHelper; let i = index"
    [class]="'dot ' + (i === currentSlide ? 'active' : '')"
  ></button>
</div>
