
#page-header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../../../assets/img/about/banner.png");
    background-size: cover;
    padding: 14px;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}


.product-box {
    position: relative;
}

.productlistel {
    margin: auto;
    padding-top: 5%;
    width: 90%;
}
.filters {
    margin: 10px;
}

@media (max-width:700px) {
    .filters {
        margin-top: 50px;
    }

    .productlistel {
        margin-bottom: 50px;
    }
}