<div class="container d-flex align-items-center justify-content-center flex-column">

  <img src="../../../assets/img//distributor.jpeg">
  <h1 class="subtitle">{{'distributors.text_1_1' | translate}}
    <a href="https://sexsale.bg" target="_blank">Sexsale.bg</a>{{'distributors.text_1_2' | translate}}
    <a href="https://sexsale.bg" target="_blank">Sexsale.bg</a>
    {{'distributors.text_1_3' | translate}}</h1>
  <h1 class="subtitle">{{'distributors.text_2_1' | translate}}
    <a href="https://sexsale.bg" target="_blank">Sexsale.bg</a>
    {{'distributors.text_2_2' | translate}}</h1>
  <h1 class="subtitle">{{'distributors.text_3_1' | translate}}
    <a href="https://sexsale.bg" target="_blank">Sexsale.bg</a>
      {{'distributors.text_3_2' | translate}}</h1>
  <br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.589803972241!2d23.40556947680764!3d42.64885527116752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86f7a72cfad9%3A0x954103018ea2394c!2zU2V4IFNob3AgU2V4c2FsZS5iZyAtINCV0YDQvtGC0LjRh9C10L0g0LzQsNCz0LDQt9C40L0g0Lgg0KHQtdC60YEg0YjQvtC_!5e0!3m2!1sbg!2snl!4v1702208162437!5m2!1sbg!2snl" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>