@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Rockwell, serif;
}

html {
    scroll-behavior: smooth;
}
@property --accent-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #983869;
}

* {
  font-family: 'Rockwell', sans-serif !important;
}

.container {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

img {
  width: 800px;
  height: auto;

  max-width: 100%;
  border: 5px solid #983869;
  border-radius: 25px;

}

a {
  text-decoration: none;
  color: red;
}

.subtitle {
  font-size: 20px;
  margin: auto;
  margin-top: 30px;
  width: 70%;
  min-width: 400px;

  max-width: 800px;

  text-align: center;
}

@media (max-width: 700px) {
  .container{
   display: block;
   height: auto;
   padding: 20px;
  }

  .label {
      font-size: 40px;
      margin-top: 30%;
      line-height: 40px;
  }


}