

<footer>
    <div class="container">
        <div class="row align-items-start justify-content-around my-3">
            <div class="col">
                <!-- <img class="logo" src="img/logo.png" alt=""> -->
                <h4>Oflesh</h4>
                <!-- <p><strong>Address: </strong> 562 Wellington Road, Street 32, San Francisco</p> -->
                <a [routerLink]="['/'+this.translate.currentLang+'/about']" routerLinkActive="router-link-active" >{{"nav.about" | translate}}</a>
                <a [routerLink]="['/'+this.translate.currentLang+'/terms-and-conditions']" routerLinkActive="router-link-active">{{"footer.terms_conditions" | translate }}</a>
                <a [routerLink]="['/'+this.translate.currentLang+'/cookie-policy']" routerLinkActive="router-link-active">{{"footer.cookie_policy" | translate }}</a>
            </div>

        <div class="col">
            <h4><b>{{"footer.contacts" | translate}}</b></h4>
            <p><strong>{{"hours" | translate}}: </strong>09:00-17:00</p>
            <p><strong>{{"Email" | translate}}: </strong>oflesh9@gmail.com</p>
            <p><strong>{{"Phone" | translate}}: </strong>???</p>


            <div class="row">
                <p><strong>{{"follow_us" | translate}}: </strong></p>
                <div class="icon">
                    <a target="_blank" href="https://www.instagram.com/oflesh9/"><i class="fab fa-2x fa-instagram"></i></a>
                    <a target="_blank" href="https://twitter.com/Oflesh69"><i class="fab fa-2x fa-x-twitter"></i></a>
                    <a target="_blank"><i class="fab fa-2x fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </div>

        <div class="col">
            <h4><b>{{"footer.account" | translate }}</b></h4>
            <a [routerLink]="['/'+this.translate.currentLang+'/privacy-policy']" routerLinkActive="router-link-active" >{{"footer.privacy_policy" | translate }}</a>
            <a [routerLink]="['/'+this.translate.currentLang+'/distributors']" routerLinkActive="router-link-active" >{{"footer.physical_stores" | translate }}</a>

            <!-- <a href="#">FAQ</a> -->
        </div>

        <div class="col install">
            <h4><b>{{"footer.payment" | translate}}</b></h4>
            <img src="../../assets/img/pay/pay.png" alt="">
            <p>{{"footer.secured_payment_gateways" | translate}}</p>

            <div class="d-flex align-items-center justify-content-between" style="gap: 30px">
                <img src="../../assets/img/econt_bg.png" alt="" style="height: 40px; width: auto;">
                <img src="../../assets/img/eushipments.jpeg" alt="" style="height: 40px; width: auto;">
            </div>
            <p>{{"footer.delivery_partners" | translate}}</p>

            <!-- <img src="https://res.cloudinary.com/dvkjlgu83/image/upload/v1686526874/design/MONEY-BACK-30_ovayoc.svg" style="width: 90px; height: auto">        -->
        </div>
    </div>

</div>
  <div class="row copyright">
    <div style="color:white;">{{"footer.copyright" | translate}}</div>
    </div>
</footer>