<!-- <section id="page-header" class="about-header">

  <h2>About us </h2>

  <!-- <p>Lorem ipsum dolor sit amet, consectetur </p> -->
<!--
</section>

<section id="about-head" class="section-p1">
  <img src="../../assets/img/about/a6.jpg" alt="">
  <div>
      <h2>Who We Are?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis auteirure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <abbr title="">Create stunning images with as much or as little control as you like thanks to a choice of Basic and Creative modes.</abbr>

      <br><br>

      <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Create stunning images with as much or as little control as you like thanks to a choice of Basic and Creative modes.
      </marquee>
  </div>
</section>

<section id="about-app" class="section-p1">
  <h1>Download Our <a href="#">App</a> </h1>
  <div class="video">
      <video autoplay muted loop src="../../assets/img/about/1.mp4"></video>
  </div>
</section>

<section id="feature" class="section-p1">
  <div class="fe-box">
      <img src="../../assets/img/features/f1.png" alt="">
      <h6>Free Shipping</h6>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f2.png" alt="">
      <h6>Online Order</h6>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f3.png" alt="">
      <h6>Save Money</h6>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f4.png" alt="">
      <h6>Promotions</h6>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f5.png" alt="">
      <h6>Happy Sell</h6>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f6.png" alt="">
      <h6>F24/7 Support</h6>
  </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
      <h4>Sign Up For Newsletters</h4>
      <p>Get E-mail updates about our latest shop and <span>special offers.</span> </p>
  </div>
  <div class="form">
      <input type="text" placeholder="Your email address">
      <button class="normal">Sign Up</button>
  </div>
</section> -->

<div class="container">
    <div class="bubble left">
        <p class="label"><span>&nbsp;</span></p>
        <p class="label"><strong><span >{{'about.who_are_we_header' | translate}}</span></strong></p>
        <p class="label"><span >{{'about.who_are_we_content' | translate}}&nbsp;</span></p>
        <p class="label"><span >&nbsp;</span></p>
    </div>
    <div class="bubble right">
        <p class="label"><strong><span >{{'about.our_team_header' | translate}}&nbsp;</span></strong></p>
        <p class="label"><span >{{'about.our_team_content' | translate}}&nbsp;</span></p>
        <p class="label"><span >&nbsp;</span></p>    
    </div>
    <div class="bubble left">
        <p class="label"><strong><span >{{'about.our_mission_and_values_header' | translate}}&nbsp;</span></strong></p>
        <p class="label"><span >{{'about.our_mission_and_values_content' | translate}}&nbsp;</span></p>
    </div>


</div>