<!-- <div class="cardcontainer">
  <div class="card">
    <div [routerLink]="['/'+this.translate.currentLang+'/product', product.id]"> -->
      <!-- <img class="card-img-top" [attr.src]="GlobalsService.productPhotosMediaURLs + product.photosJSON.thumbnail"> -->
      <!-- <img class="card-img-top" src="https://spectrumboutique.com/pub/media/catalog/product/cache/2df1527721ea1d44bf6869e6dd4a6b16/a/l/aliennation_lick_of_the_lair_main_specrum_boutique.jpg">

      <!--  -->
      <!-- <div class="card-body">
        <div class="row">
          <div class="card-text col-7">
            <div class="h6 font-weight-bold">{{product.name}}</div>
            <div class="card-text-specs">
            </div>

          </div>
          <div class="card-text-price col-5">
            <div class="h6 font-weight-bold pricelabel">
              <span *ngIf="this.DataService.isDiscountActive()">{{product.price*0.6 | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
                <br><s style="color:red; font-weight: 500;white-space: pre; font-size:smaller">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}</s>
              </span>
              <span *ngIf="!this.DataService.isDiscountActive()">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->

<!-- <div class="product-card">
  <div class="scenes" tabindex="0">
    <div class="scene-1">
      <h2 class="scene-title"></h2>
    </div>
    <div class="scene-2">
      <h2 class="scene-title"></h2>
    </div>
  </div>

  <div class="h6 font-weight-bold">{{product.name}}</div>
  <div class="h6 font-weight-bold pricelabel">
    <span *ngIf="this.DataService.isDiscountActive()">{{product.price*0.6 | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
      <br><s style="color:red; font-weight: 500;white-space: pre; font-size:smaller">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}</s>
    </span>
    <span *ngIf="!this.DataService.isDiscountActive()">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
    </span>
  </div>

  <button class="button-28" role="button">ADD TO CART</button>
</div> -->

<!--
<div class="scenes" tabindex="0">
  <div class="scene-1">
    <h2 class="scene-title"></h2>
  </div>
  <div class="scene-2">
    <h2 class="scene-title"></h2>
  </div>
</div> -->


  <div id="product-1" class="single-product">

      <div class="part-1" [style.background]="'url(' + 'https://spectrumboutique.com/pub/media/catalog/product/cache/2df1527721ea1d44bf6869e6dd4a6b16/a/l/aliennation_lick_of_the_lair_main_specrum_boutique.jpg' + ') no-repeat center'" [style.background-size]="'cover'" [style.transition]="'all 0.3s'">
        <!-- <span class="discount">15% off</span>
        <span class="new">new</span> -->
          <ul >
              <li>
                <div class="container">
                  <!-- <button class="add-to-cart" (click)="onAddToCart(product)" role="button">ADD TO CART</button> -->
                </div>
              </li>
          </ul>
      </div>
      <div class="part-2">
          <h3 class="product-title">{{product.name}}</h3>
          <!-- <h4 class="product-old-price">$79.99</h4> -->
          <h4 class="product-price">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}</h4>


      </div>


  </div>




<!-- <div class="cardcontainer">
  <img class="card-img-top" src="https://spectrumboutique.com/pub/media/catalog/product/cache/2df1527721ea1d44bf6869e6dd4a6b16/a/l/aliennation_lick_of_the_lair_main_specrum_boutique.jpg">

</div> -->

