
<div class="white" *ngIf="this.translate.currentLang == 'bg'">
  
<p style="font-weight: 400;">Общи условия за ползване на <a href="http://www.honeycomb-rollers.com/">www.honeycomb-rollers.com</a>&nbsp; &nbsp;&nbsp;&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol>
<li style="font-weight: 400;">Дефиниции</li>
</ol>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">ДРУЖЕСТВОТО означава СИМЕОНОВ ГРУП 03 ЕООД.</p>
<p style="font-weight: 400;">САЙТ или ИНТЕРНЕТ МАГАЗИН означава уебсайта www.honeycomb-rollers.com &nbsp;</p>
<p style="font-weight: 400;">КУПУВАЧ/ЪТ означава физическо или юридическо лице, ползващo сайта www.honeycomb-rollers.com</p>
<p style="font-weight: 400;">СТОКА, АРТИКУЛ или ПРОДУКТ означава предлагана от Дружеството стока.</p>
<p style="font-weight: 400;">ЛИЧНИ ДАННИ означава лични данни по смисъла на Регламент (EU) 2016/679 (Общ регламент за защита на личните данни/GDPR)</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Настоящите общи условия важат за продажба на стоки на Купувачи, с цел професионална употреба.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol>
<li style="font-weight: 400;">Общи положения</li>
</ol>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Този уебсайт е собственост на СИМЕОНОВ ГРУП 03 ЕООД, със седалище и адрес на управление: България, гр. София 1407, ул. Драгалевска № 8, вх. Е, ет. 6, ап. 112, вписано в Търговския регистър с ЕИК 206778437, телефон за контакт. +359 882 829 893, имейл: <a href="mailto:yuri.simeonovv@gmail.com">yuri.simeonovv@gmail.com</a> .</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Цялото съдържание на уебсайта е предмет на авторски права, принадлежащи на Дружеството. Нищо на този уебсайт не трябва да бъде разбирано като даващо на Купувача права или разрешение да използва снимки, търговска марка, лого или друга информация от този уебсайт. Копирането или свалянето на информация от сайта не прехвърля върху Купувача авторските права върху тази информация. Съдържанието на този сайт може да бъде променяно на постоянна база от Дружеството.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Използването, копирането и разпространението на каквато и да била част от съдържанието на сайта, без писменото съгласие на Дружеството е забранено. Препратки към този сайт са разрешени само след съгласието на Дружеството.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Стоки и информация</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Чрез електронна поръчка от сайта могат да бъдат закупувани единствено и само тези стоки, които системата позволява. Цялата информация относно предлаганите за продажба чрез онлайн магазина стоки, е описана в представянето на съответния продукт.</p>
<p style="font-weight: 400;">Дружеството произвежда и продава машини и резервни части за восъчни основи.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Тези стоки са предназначени основно за професионална, занаятчийска употреба.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Цени</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Всички представени в сайта цени са в съответната местната за Купувача валута и са валидни единствено и само към момента на публикуването им. Дружеството си запазва правото без предупреждение да ги променя. Представените в магазина цени на стоки са крайни и включват всички данъци и такси, без цената за доставка, която зависи от цените на куриерската услуга и без евентуални такси за мито (ако такова се дължи) и др.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Поръчки</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Поръчки могат да извършват само Купувачи, приели тези Общи условия и Политиката за поверителност. Ако Купувачът пожелае да получи фактура, фактурирането на закупените продукти става само в съответната местна за Купувача валута. Сроковете за доставка на поръчките зависят от партньорите на Дружеството - куриерски фирми. Възможностите за доставка могат да бъдат променяни от Дружеството по всяко време и обявявани на сайта.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Плащане</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът заплаща цената на поръчана стока онлай чрез електронната платформа за онлайн плащания STRIPE.COM, която е собственост и е управлявана от независимо от Дружеството юридическо лице. Дружеството не събира и не съхранява данни за платежните инструменти на Купувача.</p>
<p style="font-weight: 400;">Всички плащания се извършват в местната за Купувача валута.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството може да издава и електронна фактура (наричана по-надолу е-фактура), в която са изброени поръчаните стоки, тяхната цена и цената за доставка. С приемането на тези Условия Купувачът дава своето изрично съгласие да получава е-фактури.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Договор</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Договорът за продажба от разстояние между Дружеството и Купувача се счита за сключен от момента на плащане на стоката. Преди да изпрати поръчаната стока, Дружеството може да се свърже с Купувача на посочения от него телефон, с цел уточняване на детайли за поръчката и/или доставката.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството не носи отговорност за неизпълнение на поръчка в случаите, когато Купувачът е посочил неверни, непълни и/или неточни лични данни, включително когато е посочил непълен, неточен или фиктивен адрес или телефон.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Доставка на поръчана стока</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Доставката на поръчана чрез онлайн магазина стока се извършва с &bdquo;Български пощи&ldquo; ЕАД, с ЕИК: 121396123, уеб сайт: <a href="http://www.bgpost.bg/">www.bgpost.bg</a> . При доставката Купувачът подписва стокова разписка за приемо-предаване, която удостоверява точното изпълнение на поръчката.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">В случай, че Купувачът не пребивава или не е установен в България, а на територията на друга Държава - членка в Европейския съюз и/или на територията на трета страна, и желае да получи заявените от него стоки в тази друга държава, то същият следва да има предвид, че с оглед трансграничната доставка на стоки, срокът за получаване може да бъде значително удължен.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Обичайно, доставката се извършва в срок до 5 работни дни на територията на Република България. При трансграничната доставка на стоки, срокът за получаване може да бъде значително удължен.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">При невъзможност за връчване на пратката, не по вина на Дружеството или на куриера, лицето, извършващо доставката, може да се обади на посочения от Купувача телефон за контакт, за да бъде уточнено следващо посещение за доставка. При невъзможност за връчване на пратката не по вина на Дружеството или куриера и невъзможност да се установи контакт с Купувача, договорът за продажба от разстояние автоматично се прекратява.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Отказ от сделка от разстояние</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът (в случай, че е физическо лице, а не &ndash; юридическо лице, и/или в случай, че поръчаната стока не е за целите на упражнявана професионална дейност) има правата на потребител по смисъла на местните закони за защита на потребителите и респ. - правото да се откаже от този договор и да върне стоката, без да посочва причина, без да дължи обезщетение или неустойка и без да заплаща каквито и да е разходи, с изключение на разходите за куриер, в 14-дневен срок, считано от датата на доставка на поръчаната стока.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Когато Купувачът упражни правото си на отказ от договора, Купувачът трябва да изпрати или предаде стоките обратно на Дружеството без неоправдано забавяне и не по-късно от 14 дни, считано от датата, на която Купувачът е получил стоката, като към пратката приложи и следния Формуляр за отказ:</p>
<p style="font-weight: 400;">&nbsp;</p>
<p>Стандартен формуляр за упражняване правото на отказ от договора</p>
<p>&nbsp;</p>
<p>От: ......................................................................................</p>
<p>&nbsp;</p>
<p>До: &nbsp;СИМЕОНОВ ГРУП 03 ЕООД, България, гр. София 1407, ул. Драгалевска № 8, вх. Е, ет. 6, ап. 112, телефон за контакт. +359 882 829 893</p>
<p>&nbsp;</p>
<p>С настоящото уведомявам,че се отказвам от сключения от мендоговор за покупка на следните стоки: ..................................................................</p>
<p>Номер Поръчка: .................................................................</p>
<p>Поръчано на: ......................................................................</p>
<p>Получено на: ......................................................................</p>
<p>Подпис на потребителя .....................................................</p>
<p>Дата .....................................................................................</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Крайният срок се смята за спазен, ако Купувачът изпрати или предаде стоките обратно на Дружеството преди изтичането на 14-дневния срок. Върнатите артикули следва да бъдат изпратени до Дружеството на адреса на седалището, както е посочено във Формуляра по-горе.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">В случай, че Купувачът упражни правото си на отказ от договора, Дружеството възстановява на Купувача заплатената от него стойност на върнатия продукт, а Купувачът заплаща цената за транспорт/изпращане на върнатия продукт, която е за негова сметка. Цената за куриерската услуга за връщането, която трябва да бъде платена от Купувача зависи от теглото на продукта, който подлежи на връщане.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Когато Купувачът е поръчал повече от един артикул/продукт, а упражнява право на отказ по отношение само на един продукт и връща само него, по отношение на останалите артикули договорът между него и Дружеството остава в сила, като Купувачът поема разходът за доставка на стоката и разходът за връщане на стоката, определен по начина в предходния параграф, а Дружеството му възстановява заплатената цена на върнатия артикул.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът има право да получи само стойността на върната стока, такава, каквато е била при заявката и закупуването й. Сумата се възстановява на Купувача по банков път, в срок до 14 дни от получаването на стоката при Дружеството. Това е необходимо, за да може Дружеството да прегледа състоянието на върнатата стока и да се увери, че стоката отгoваря на условията по-долу.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът е длъжен да съхранява получената от него стока, заедно с опаковката и да осигури запазването им в добро състояние, а именно: без следи от употреба, без повреди, без наранявания, без липсващи части. Целостта на стоката и на опаковката не трябва да бъдат нарушени. При неизпълнение на тези условия Дружеството запазва правото си да откаже да приеме върната стока и съответно да възстанови на Купувача платената сума.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Въпроси за рекламации и връщане може да се отправят на honeycomb.rollers@gmail.com или на телефон +359 882 829 893.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Рекламации на стоки</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът има право на рекламация за всяко несъответствие на стоката с договореното, когато след доставката, при първоначалния преглед са открити несъответствия с договора за продажба.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">При предявяване на рекламацията на стока Купувачът може да претендира за възстановяване на заплатената сума, за заменяне на стоката с друга от същия вид, съответстваща на договореното, или за отбив от цената.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Рекламацията се предявява пред Дружеството на е-мейл honeycomb.rollers@gmail.com. При предявяване на рекламация Купувачът посочва предмета на рекламацията, предпочитания от него начин за удовлетворяване на рекламацията, съответно размера на претендираната сума, адрес и телефон за контакт, банкова сметка.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">При подаване на рекламация Купувачът задължително прилага и документите, на които се основава претенцията:</p>
<p style="font-weight: 400;">- номер на поръчка;</p>
<p style="font-weight: 400;">- касова бележка или фактура;</p>
<p style="font-weight: 400;">- протоколи, актове или други документи, установяващи несъответствието на стоката или услугата с договореното;</p>
<p style="font-weight: 400;">- други документи, установяващи претенцията по основание и размер.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Рекламация на стоката трябва да се предяви веднага щом е открит дефектът, но не по-късно от 24 месеца от получаване на стоката. Рекламации след изтичане на този срок не се допускат.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачът не може да претендира за възстановяване на заплатената сума или за намаляване цената на стоката, когато Дружеството се съгласи да бъде извършена замяна на стока с нова в рамките на един месец от предявяване на рекламацията.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">При рекламация Дружеството може да върне заплатената от Купувача цена на артикула, съгласно описаната по-горе процедура по банков път.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Въпроси за рекламации и връщане може да отправяте на honeycomb.rollers@gmail.com или на телефон +359 882 829 893</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Защита на личните данни</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството обработва лични данни в съответствие с Регламент 2016/679/ЕС относно защитата на физическите лица във връзка с обработването на личните данни и относно свободното движение на такива данни и за отмяна на Директива 95/46/ЕО. Информация за&nbsp; личните данни, които Дружеството обработва и за условията и реда, по който физическите лица, чиито лични данни се обработват, упражняват правата си може да намерите в Политиката за поверителност.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Други</p>
<p style="font-weight: 400;">Дружеството се ангажира да предоставя само стоките, представени в сайта, по начина, по който са представени. Цялата информация, представена на сайта, включително, но не само, дизайн, наличности и цени на стоките, е валидна единствено и само към момента на представянето й, като Дружеството си запазва правото по всяко време да я променя без предупреждение. Отговорност на Купувача е да проверява редовно условията за ползване на сайта, както и представената информация за цени, наличности и други.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">В случай, че Купувачът се е абонирал за информационния бюлетин, Дружеството има право да му изпраща бюлетин на предоставения имейл адрес. Купувачът може по всяко време да се откаже от получаването му чрез страницата на своя профил в сайта, или като използва включения в информационния бюлетин линк за отписване.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Купувачи, които нарушават условията за ползване на онлайн магазина, могат да бъдат ограничавани и техните поръчки - необработвани.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">За неуредените в настоящите общи условия въпроси се прилагат разпоредбите на действащото в Република България законодателство.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Възникнали спорове Дружеството се стреми да решава винаги по приятелски начин, а в случай, че всички възможности се изчерпат, споровете се решават от компетентния съд или от орган за алтернативно решаване на спорове. Орган за алтернативно решаване на спорове са местните помирителни комисии към Комисия за защита на потребителите. При възникване на спор, свързан с онлайн продажба, Купувачът (в случай, че е потребител) може да ползва сайта за онлайн разрешаване на спорове (плаформата на ЕС за решаване на спорове между онлайн търговци и потребители), достъпен на адрес: ec.europa.eu/odr.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството не е отговорно за каквито и да било грешки, които могат да възникнат на сайта, поради всякаква причина, включително и тези, причинени от промени, настройки, технически причини или други.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Дружеството си запазва правото да публикува рекламни банери от всякакъв вид и/или връзки на която и да е част от сайта, съобразно действащото законодателство.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
</div>

<div class="white" *ngIf="this.translate.currentLang == 'en'">
  

<p style="font-weight: 400;">General terms and Conditions of www.honeycomb-rollers.com</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Definitions</p>
<p style="font-weight: 400;">COMPANY means SIMEONOV GROUP 03 LTD.</p>
<p style="font-weight: 400;">SITE or ONLINE STORE means the website www.honeycomb-rollers.com</p>
<p style="font-weight: 400;">BUYER/S means a natural or legal person using the website www.honeycomb-rollers.com</p>
<p style="font-weight: 400;">GOOD, ITEM or PRODUCT means a good offered by the Company.</p>
<p style="font-weight: 400;">PERSONAL DATA means personal data within the meaning of Regulation (EU) 2016/679 (General Data Protection Regulation/GDPR)</p>
<p style="font-weight: 400;">These general conditions apply to the sale of goods to Buyers for professional use.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">General</p>
<p style="font-weight: 400;">This website is the property of SIMEONOV GROUP 03 EOOD, with registered office and management address: Bulgaria, Sofia 1407, 8 Dragalevska St., entrance E, fl. 6, apt. 112, VAT number 206778437, contact phone number. +359 882 829 893, email: <a href="mailto:yuri.simeonovv@gmail.com">yuri.simeonovv@gmail.com</a></p>
<p style="font-weight: 400;">All content on the website is copyrighted by the Company. Nothing on this website should be construed as giving the Buyer any rights or permission to use any photographs, trademark, logo or other information from this website. Copying or downloading information from the site does not transfer to the Buyer the copyright in this information. The content of this site may be changed on a permanent basis by the Company.</p>
<p style="font-weight: 400;">The use, copying and distribution of any part of the content of the site without the written consent of the Company is prohibited. Links to this site are permitted only with the consent of the Company.</p>
<p style="font-weight: 400;">Goods and information</p>
<p style="font-weight: 400;">Only those goods that the system allows can be purchased through electronic ordering from the site. All information about the goods offered for sale through the online store is described in the presentation of the respective product.</p>
<p style="font-weight: 400;">The company manufactures and sells machines and spare parts for wax bases.</p>
<p style="font-weight: 400;">These goods are primarily intended for professional, artisanal use.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Prices</p>
<p style="font-weight: 400;">All prices presented on the site are in the relevant local currency for the Buyer and are valid only at the time of their publication. The Company reserves the right to change them without notice. The prices of goods presented in the store are final and include all taxes and fees, excluding the cost of delivery, which depends on the prices of the courier service and excluding possible customs fees (if any) etc.</p>
<p style="font-weight: 400;">Orders</p>
<p style="font-weight: 400;">Orders may only be placed by Buyers who have accepted these Terms and Conditions and the Privacy Policy. If the Buyer wishes to receive an invoice, the invoicing of the purchased products is executed in the relevant local currency for the Buyer. Delivery terms for orders depend on the Company's partners - courier companies. Delivery options may be changed by the Company at any time and announced on the site.</p>
<p style="font-weight: 400;">Payment</p>
<p style="font-weight: 400;">The Buyer pays the price of the ordered goods online through the electronic platform for online payments STRIPE.COM, which is owned and managed by a legal entity independent of the Company. The company does not collect or store data about the Buyer's payment instruments.</p>
<p style="font-weight: 400;">All payments are made in the Buyer's local currency.</p>
<p style="font-weight: 400;">The company can also issue an electronic invoice (hereinafter referred to as an e-invoice), which lists the ordered goods, their price and the delivery price. By accepting these Terms, the Buyer gives his express consent to receive e-invoices.</p>
<p style="font-weight: 400;">The contract</p>
<p style="font-weight: 400;">The distance sales contract between the Company and the Buyer is considered concluded from the moment of payment for the goods. Before sending the ordered goods, the Company may contact the Buyer on the phone indicated by him, in order to specify details of the order and/or delivery.</p>
<p style="font-weight: 400;">The Company is not responsible for failure to fulfill an order in cases where the Buyer has provided false, incomplete and/or inaccurate personal data, including when he has provided an incomplete, inaccurate or fictitious address or phone number.</p>
<p style="font-weight: 400;">Delivery of ordered goods</p>
<p style="font-weight: 400;">The delivery of goods ordered through the online store is carried out by "Bulgarian Post" EAD, VAT number 121396123, website: <a href="http://www.bgpost.bg/">www.bgpost.bg</a> . Upon delivery, the Buyer signs a goods receipt for delivery, which certifies the exact execution of the order.</p>
<p style="font-weight: 400;">In the event that the Buyer does not reside or is not established in Bulgaria, but in the territory of another Member State in the European Union and/or in the territory of a third country, and wishes to receive the goods requested by him in this other country, he shall follow to bear in mind that in view of the cross-border delivery of goods, the period of receipt may be significantly extended.</p>
<p style="font-weight: 400;">Usually, the delivery takes place within 5 working days on the territory of the Republic of Bulgaria. In the case of cross-border delivery of goods, the time of receipt may be significantly extended.</p>
<p style="font-weight: 400;">In case of impossibility to deliver the shipment, not due to the fault of the Company or the courier, the person carrying out the delivery can call the contact phone number specified by the Buyer in order to specify the next delivery visit. In case of impossibility to deliver the shipment due to no fault of the Company or the courier and impossibility to establish contact with the Buyer, the distance sales contract is automatically terminated.</p>
<p style="font-weight: 400;">Withdrawal from a distance contract</p>
<p style="font-weight: 400;">The buyer (in case he is a natural person and not a legal entity, and/or in case the ordered goods are not for the purposes of a professional activity) has the rights of a consumer in the sense of the local consumer protection laws and resp. - the right to withdraw from this contract and return the goods without giving a reason, without paying compensation or penalty and without paying any costs, except courier costs, within 14 days from the date of the delivery of the ordered goods.</p>
<p style="font-weight: 400;">When the Buyer exercises its right to withdraw from the contract, the Buyer must send or hand over the goods back to the Company without undue delay and no later than 14 days from the date on which the Buyer received the goods, attaching the following Form to the shipment to opt out:</p>
<p style="font-weight: 400;">Standard form for exercising the right to withdraw from the contract</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">From: ................................................ ......................................</p>
<p style="font-weight: 400;">To: SIMEONOV GROUP 03 EOOD, Bulgaria, Sofia 1407, 8 Dragalevska St., entrance E, fl. 6, apt. 112, contact phone number. +359 882 829 893</p>
<p style="font-weight: 400;">I hereby notify that I am withdrawing of the contract for the purchase of the following goods: ................................. ................................</p>
<p style="font-weight: 400;">Order number: .............................................. ..................</p>
<p style="font-weight: 400;">Ordered to: .............................................. .......................</p>
<p style="font-weight: 400;">Received on: .............................................. .......................</p>
<p style="font-weight: 400;">User Signature .............................................. ......</p>
<p style="font-weight: 400;">Date ................................................ ...................................</p>
<p style="font-weight: 400;">The deadline is deemed to have been met if the Buyer sends or hands over the goods back to the Company before the expiry of the 14-day period. Returned items should be sent to the Company at the registered office address as indicated on the Form above.</p>
<p style="font-weight: 400;">In the event that the Buyer exercises his right to withdraw from the contract, the Company shall refund to the Buyer the value paid by him for the returned product, and the Buyer shall pay the cost of transport/shipping of the returned product, which shall be at his expense. The cost of the return courier service to be paid by the Buyer depends on the weight of the product to be returned.</p>
<p style="font-weight: 400;">When the Buyer has ordered more than one item/product, and he exercises the right of withdrawal in relation to only one product and returns only it, in relation to the other items the contract between him and the Company remains in force, with the Buyer bearing the cost of delivery of the goods and the cost of returning the goods, determined in the manner in the previous paragraph, and the Company reimburses him the price paid for the returned item.</p>
<p style="font-weight: 400;">The Buyer has the right to receive only the value of the returned goods, as it was at the time of the request and purchase. The amount is refunded to the Buyer by bank transfer, within 14 days from the receipt of the goods by the Company. This is necessary for the Company to review the condition of the returned goods and ensure that the goods meet the conditions below.</p>
<p style="font-weight: 400;">The buyer is obliged to store the goods he received, together with the packaging, and to ensure that they are kept in good condition, namely: without signs of use, without damage, without injuries, without missing parts. The integrity of the goods and the packaging must not be violated. In case of non-fulfilment of these conditions, the Company reserves the right to refuse to accept returned goods and, accordingly, not to refund the amount paid to the Buyer.</p>
<p style="font-weight: 400;">Questions about complaints, withdrawals and returns can be directed to <a href="mailto:honeycomb.rollers@gmail.com">honeycomb.rollers@gmail.com</a> &nbsp;or phone +359 882 829 893.</p>
<p style="font-weight: 400;">Complaints about goods</p>
<p style="font-weight: 400;">The Buyer has the right to claim for any non-conformity of the goods with the agreed upon, when after the delivery, during the initial inspection, non-conformities with the sales contract were found.</p>
<p style="font-weight: 400;">When presenting a complaint about a product, the Buyer can claim a refund of the amount paid, to replace the product with another of the same type, corresponding to the agreed, or to a deduction from the price.</p>
<p style="font-weight: 400;">The complaint is presented to the Company by e-mail <a href="mailto:honeycomb.rollers@gmail.com">honeycomb.rollers@gmail.com</a> . When submitting a complaint, the Buyer indicates the subject of the complaint, his preferred way of satisfying the complaint, the amount of the claimed amount, address and contact phone number, bank account.</p>
<p style="font-weight: 400;">When submitting a claim, the Buyer must also attach the documents on which the claim is based:</p>
<p style="font-weight: 400;">- Order number;</p>
<p style="font-weight: 400;">- receipt or invoice;</p>
<p style="font-weight: 400;">- protocols, acts or other documents establishing the non-compliance of the goods or services with the agreed upon;</p>
<p style="font-weight: 400;">- other documents establishing the claim by basis and amount.</p>
<p style="font-weight: 400;">Complaints about the goods must be submitted as soon as the defect is discovered, but no later than 24 months after receiving the goods. Complaints are not allowed after this period has expired.</p>
<p style="font-weight: 400;">The Buyer cannot claim a refund of the amount paid or a reduction in the price of the goods when the Company agrees to replace the goods with a new one within one month of submitting the complaint.</p>
<p style="font-weight: 400;">In the case of a complaint, the Company can return the price paid by the Buyer for the item, according to the procedure described above via bank transfer.</p>
<p style="font-weight: 400;">Questions about complaints and returns can be sent to <a href="mailto:honeycomb.rollers@gmail.com">honeycomb.rollers@gmail.com</a> &nbsp;or phone +359 882 829 893</p>
<p style="font-weight: 400;">Personal data protection</p>
<p style="font-weight: 400;">The company processes personal data in accordance with Regulation 2016/679/EU on the protection of natural persons in connection with the processing of personal data and on the free movement of such data and on the repeal of Directive 95/46/EC (EU GDPR). Information on the personal data that the Company processes and on the terms and conditions by which individuals whose personal data is processed exercise their rights can be found in the Privacy Policy.</p>
<p style="font-weight: 400;">Others</p>
<p style="font-weight: 400;">The Company undertakes to provide only the goods presented on the site in the manner in which they are presented. All information presented on the site, including, but not limited to, design, availability and prices of goods, is valid only at the time of its presentation, and the Company reserves the right to change it at any time without notice. It is the responsibility of the Buyer to regularly check the terms of use of the site, as well as the presented information on prices, availability and others.</p>
<p style="font-weight: 400;">In the event that the Buyer has subscribed to the newsletter, the Company has the right to send him a newsletter to the provided email address. The Buyer can at any time refuse to receive it through his profile page on the site, or by using the unsubscribe link included in the newsletter.</p>
<p style="font-weight: 400;">Buyers who violate the Terms and Conditions of the online store may be restricted and their orders may not be processed.</p>
<p style="font-weight: 400;">The provisions of the legislation in force in the Republic of Bulgaria shall apply to issues not settled in these General Terms and Conditions.</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<p style="font-weight: 400;">Any and all disputes arising the Company endeavors to resolve always amicably, and in the event that all avenues are exhausted, disputes shall be resolved by the competent court or by an alternative dispute resolution body. The body for alternative dispute resolution is the local conciliation commissions under the Consumer Protection Commission. In the event of a dispute related to an online sale, the Buyer (if he is a consumer) can use the online dispute resolution site (the EU platform for resolving disputes between online traders and consumers), available at: ec.europa .eu/odr.</p>
<p style="font-weight: 400;">The Company is not responsible for any errors that may occur on the site for any reason, including those caused by changes, adjustments, technical reasons or otherwise.</p>
<p style="font-weight: 400;">The company reserves the right to publish advertising banners of any kind and/or links on any part of the site, in accordance with current legislation.</p>
</div>