@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@100;200;300;400;500;600;700;800;900&display=swap');



.outer-container {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}


h1 {
  font-family: 'Rockwell', sans-serif;
  font-size: 2rem;
}


.submit-btn {
  max-width: 400px;
  width: 100%;
  height: 40px;
  margin: auto;

}

.credit-inputs {
  color: black;
  border-color: rgba(0, 0, 0, 0.418);
  margin-bottom: 10px;
  padding: 5px;
}

.credit-inputs::placeholder {
  font-size: 13px;
  color: black;
}

.credit-inputs:active {
  border-color: var(--accent-color);
}

.error {
  color: red;

}

.credit-card-label {
  font-size: 12px;
  font-weight: 400;
  color: black;
}


.input-box {
  margin: 10px;
}



@media screen and (min-width: 1200px) {

  .outer-container::after {
    right: 0;
  }

  .outer-container {
    /* Set the background image URL for the specific class */
    /* /background-image: url('https://image.spreadshirtmedia.net/image-server/v1/compositions/T631A1PA4699PT17X215Y56D159904152W4799H28727/views/1,width=1200,height=1200,appearanceId=1,backgroundColor=FFFFFF,noPt=true/hearts-red-vertical-womens-t-shirt.jpg'); */

    /* Set background size to cover the entire container */
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;

    position: relative;
    width: 100%;
    max-width: 1600px; /* Adjust as needed */
    padding-left: 200px;
    padding-right: 200px;
  }

  /* Create two pseudo-elements to represent the two columns within the container */
  .outer-container::before,
  .outer-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    object-fit: cover;
    /* Set the background image URL for the pseudo-elements */
    background-image: url('https://res.cloudinary.com/dvkjlgu83/image/upload/v1703366000/design/hearts-background_e8ixdb.jpg');
    /* Set background size to cover the entire viewport for the pseudo-elements */
    background-size: 200px 800px;
  }

  /* Position the left pseudo-element on the left side of the container */
  .outer-container::before {
    left: 0;
  }

  /* Position the right pseudo-element on the right side of the container */
  .outer-container::after {
    right: 0;
  }

  }