.content {
    color: black;
    margin: 10%;
}

p { margin:0pt 0pt 8pt }
li, table { margin-top:0pt; margin-bottom:8pt }
.\31 { margin-top:5pt; margin-bottom:5pt; line-height:normal; font-family:'Times New Roman'; font-size:12pt }
.\32 { margin-top:5pt; margin-bottom:5pt; line-height:normal; font-family:'Times New Roman'; font-size:12pt }
.\34 { margin-top:5pt; margin-bottom:5pt; line-height:normal; font-family:'Times New Roman'; font-size:12pt }
.NormalWeb { margin-top:5pt; margin-bottom:5pt; line-height:normal; font-family:'Times New Roman'; font-size:12pt }
.textbody { margin-top:5pt; margin-bottom:5pt; line-height:normal; font-family:'Times New Roman'; font-size:12pt }
span.Emphasis { font-style:italic }
span.Hyperlink { text-decoration:underline; color:#0000ff }

.__cf_email__{
    display: none !important;
}