
<div class="content">



        <table style="margin-bottom:0pt; border-collapse:collapse">
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Политика за поверителност
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Тази политика влиза в сила, считано от 11.12.2023 г.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal; font-size:10pt">
                <span style="font-family:'Times New Roman'">&#xa0;</span>
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Нашите възгледи за поверителността на личните данни
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                ОФЛЕШ ГРУП ЕООД, със седалище и адрес на управление: гр. София, ул. Пловдивско поле № 11, вх. 1, ет. 8, ап. 8, вписано в Търговския регистър с ЕИК 207614145, телефон за контакт. +359 899 936 376, имейл: oflesh9@gmail.com(по-нататък в изложението, за краткост –&#xa0; Едноличното Дружеството, Администратора/ът) приема, че когато събираме и обработваме информация за физическо лице, трябва да го направим отговорно, с дължимата грижа за личната неприкосновеност, спазвайки законите за защита на данните и принципите на поверителност.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Тази политика за поверителност ("Политика") описва основните видове лична информация, която събираме в рамките на дружеството, как се обработва и разкрива тази информация, както и задълженията ни към лицата, чиито данни обработваме. Политиката обяснява по принцип как се стремим да спазваме законите и регламентите за поверителност на данните, включително, но не само Регламент (EU) 2016/679 (Общ регламент за защита на личните данни/GDPR).
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;Едноличното Дружеството в качеството му на администратор на лични данни, е въвело вътрешни политики (инструкции) и програми, предназначени да осигурят спазването на тези закони.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Какви категории лични данни събира и обработва Дружеството и за какви цели?
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Лични данни на купувачи-физически лица
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                ОФЛЕШ ГРУП ЕООД събира личните данни на физическите лица-клиенти в обем, предвиден в Закона за задълженията и договорите (за да се идентифицира страната по договора). Тези данни се събират за целите на сключване и изпълнение на съответния договор и се обработват за срока на договора и до дванадесет години след прекратяването му, ако Законът за счетоводството изисква това или това се налага от данъчно нормативен акт.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Разкриване на лични данни
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Лични данни на купувачите ни могат да бъдат разкрити от Едноличното Дружеството:
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                - на куриерска фирма;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                - на дружество, извършващо счетоводна дейност;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                - на обслужващата Дружеството банка (за целите на успешното плащане на услугата по договора), както и евентуално на
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                - разследващи и други органи, на основание законов текст, който задължава Дружеството да разкрие информация за клиента;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Вътре в дружеството, достъп до лични данни имат само оторизирани лица, надлежно подготвени за работа с лични данни.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Едноличното Дружеството не търгува и не продава бази данни, вкл. анонимизирани или псевдонимизирани данни, по никакъв повод и за никакви цели, вкл. статистически.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Трансфер на лични данни (разкриване пред лица извън страната)
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Едноличното Дружеството не извършва трансфер на лични данни извън пределите на страната.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Уведомяване и Съгласие
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                В момента на събирането на данните, Едноличното Дружеството уведомява лицата по ясен и непротиворечив начин как точно информацията за тях ще бъде обработена, разкрита, съхранявана и заличена; какви права имат по отношение на защитата на личните данни или съгласно тази Политика, а също и какви са начините за упражняване на тези права. Това уведомление е изцяло съобразено с изискванията на Регламента и цели спазването му в максимална степен, включително, но не само принципа за прозрачност и законосъобразност при обработката на личните данни на лицата.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                По отношение на личните си данни всеки потребител има следните права:
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                -&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; право на достъп до тях;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                -&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; право да искам актуализиране и/или коригиране;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                -&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; право да искам заличаване;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                -&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; право да искам ограничаване на обработването;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                -&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; право на преносимост на данните;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                -&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; право да възразя срещу обработване по определен начин и за определени цели, вкл. автоматизирано обработване (профилиране);
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; text-align:center; line-height:normal">
                #NAME?
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; text-align:center; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                С изключение на последното право, останалите се упражняват с писмено искане до седалището на Дружеството ми в&#xa0; гр. София, ул. Пловдивско поле № 11, вх. 1, ет. 8, ап. 8.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Едноличното Дружеството гарантира, че физическите лица могат да упражняват всички свои права по отношение на личните данни, обработвани от едноличното дружеството, включително, но не само правото на достъп, актуализиране и коригиране, право на преносимост на данните, право на временно спиране на обработването и изтриване на данни и изобщо всичко, предвидено в закон. Едноличното Дружеството ще положи максимални усилия да разгледа и уважи искането на лицето. Евентуален отказ от страна на Едноличното Дружеството би бил възможен единствено на законово основание (когато законов текст забранява това).
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                В случаите, когато това се изисква от закона, а също и като израз на добра практика, Едноличното Дружеството може да поиска съгласието на физическото лице да събира, използва и разкрива данните му за конкретно определени цели.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Актуалност на данните. Срокове на съхранение
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Нашата политика за поверителност предвижда всяко лице, чиито данни сме събрали, да разполага с пълните възможности да заяви коригиране и актуализиране на данните.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Правото да бъдеш забравен също е сред предвидените в политиката ни на поверителност и всяко лице може да заяви заличаване на данните си.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Дружеството извършва заличаване на личните данни незабавно след отпадане на основанието за обработка и съхранение, след преценка на специалните законови изисквания.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Сигурност и защита на данните
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                ОФЛЕШ ГРУП ЕООД поддържа цялостна политика за информационна сигурност с максимален акцент върху техническите и организационни мерки за сигурност, които защитават личната информация от неоторизиран достъп или загуба. В съответствие с регулаторните изисквания, Едноличното Дружеството поддържа също така и практика за справяне при нарушаване на сигурността, свързано със защитата на личните данни, включително извършване на всички необходими уведомления на лица или надзорния орган.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Лични данни на малолетни и непълнолетни лица
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Едноличното Дружеството не събира и не обработва данни на малолетни и непълнолетни лица.
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Запитвания, сигнали, жалби и искания за упражняване на права
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Всякаква комуникация, питания, сигнали, жалби и искания за упражняване на права по отношение на личните данни следва да бъдат адресирани до седалището на ОФЛЕШ ГРУП ЕООД, със седалище и адрес на управление: гр. София, ул. Пловдивко поле 11 № 11, вх. 1, ет. 8, ап. 8, вписано в Търговския регистър с ЕИК 207614145, телефон за контакт. +359 899 936 376, имейл: oflesh9@gmail.com
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Правен статус на тази Политика. Промени и действие
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                &#xa0;
              </p>
            </td>
          </tr>
          <tr style="height:14.4pt">
            <td style="padding-right:3.5pt; padding-left:3.5pt; vertical-align:bottom">
              <p style="margin-bottom:0pt; line-height:normal">
                Тази Политика за поверителност не е договор и няма обвързващо действие. ОФЛЕШ ГРУП ЕООД запазва правото да актуализира Политиката (например – при промяна на законодателството по отношение на личните данни).
              </p>
            </td>
          </tr>
        </table>
        <p style="margin-bottom:0pt; line-height:normal; font-size:12pt">
          <span style="font-family:Arial; color:#ffffff">&#xa0;</span>
        </p>
</div>
