<div class="container" *ngIf="product!=undefined">

    <div class="label">
        <div class="single-product">
            <div class="row">
                <div class="col-sm-7">
                    <!-- <div class="product-image">
                        <div class="product-image-main">
                            <img [attr.src]="GlobalsService.productPhotosMediaURLs + product.photosJSON.thumbnail" alt="" id="product-main-image">
                        </div>
                        <div class="product-image-slider" >
                            <img [attr.src]="GlobalsService.productPhotosMediaURLs + item" alt=""  class="image-list" *ngFor="let item of product.photosJSON['gallery']">
                        </div>
                    </div> -->

                    <div *ngIf="innerWidth>700">
                        <gallery class="gallery" [items]="photos" thumbPosition="right" imageSize="cover"></gallery>
                    </div>
                    <div *ngIf="innerWidth<=700">
                        <gallery class="gallery" [items]="photos" thumbPosition="bottom" imageSize="cover"></gallery>
                    </div>


                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="product">
                        <div class="name-price">
                            <div class="product-title">
                                <h2>{{product.name}}</h2>
                                <!-- <img src="https://res.cloudinary.com/dvkjlgu83/image/upload/v1686526873/design/WARRANTY-5_jipazl.ai"> -->
                            </div>
                            <div class="product-price">
                                <!-- <h2 class="offer-price">{{product.price | convert | currency: (translate.currentLang == "bg"? "BGN": "EUR")}}</h2> -->
                                <h2 class="offer-price">
                                <span *ngIf="this.DataService.isDiscountActive()">{{product.price*0.6 | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
                                    <br><s class="old-price">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}</s>
                                  </span>
                                  <span *ngIf="!this.DataService.isDiscountActive()">{{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
                                  </span>
                                </h2>

                                <!-- <span class="sale-price">$129.00</span> -->
                            </div>
                        </div>
                        <div class="d-flex justify-content-start align-items-center" style="gap: 5px;" *ngIf="product.productType.name == 'Machine'">
                            <img src="https://res.cloudinary.com/dvkjlgu83/image/upload/v1687206032/design/verified_qbvytb.png" class="shield-badge">
                            <div class="warranty-text">{{'catalog.warranty-5' | translate}}</div>
                        </div>
                        <div style="height: 5px;"></div>
                        <div class="d-flex justify-content-start align-items-center" style="gap: 5px;" *ngIf="product.productType.name == 'Machine'">
                            <img src="https://res.cloudinary.com/dvkjlgu83/image/upload/v1687206032/design/verified_qbvytb.png" class="shield-badge">
                            <div class="warranty-text">{{'catalog.money-30' | translate}}</div>
                        </div>

                        <span class="divider"></span>
                        <div class="product-details" *ngIf="product.description.length>0">
                            <div style="font-size:small;" [innerHTML]="product.description"></div>
                        </div>

                        <span class="divider"></span>

                        <div class="product-btn-group">
                            <a class="button buy-now" (click)="buyInstant()"><i class='bx bxs-zap' ></i>{{'catalog.buy_now' | translate}}</a>
                            <div class="button add-cart" ><app-add-to-cart-btn (click)="CartService.addItem(product)" style="border-radius: 4px !important;"></app-add-to-cart-btn></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>