

        <div class="container my-5 py-5" *ngIf="this.product!=undefined" >
            <div class="row justify-content-between mx-0">
                <div class="col-sm-7 px-0">
                    <gallery class="gallery" [items]="photos" thumbPosition="bottom" style="position: relative !important; z-index: 0; background-color:transparent;"></gallery>
                </div>
                <div class="col-sm-4">
                    <div class="product1">
                        <div class="name-price">
                            <div class="product-title">
                                <h2 style="font-family: 'Rockwell', sans-serif;">{{product.name}}</h2>
                            </div>
                            <div class="product-price">
                                <h2 class="offer-price">
                                    <span>
                                        {{product.price | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <!-- <div class="d-flex justify-content-start align-items-center" style="gap: 5px;" *ngIf="product.productType.name == 'Machine'">
                            <img src="https://res.cloudinary.com/dvkjlgu83/image/upload/v1687206032/design/verified_qbvytb.png" class="shield-badge">
                            <div class="warranty-text">{{'catalog.warranty-5' | translate}}</div>
                        </div>
                        <div style="height: 5px;"></div>
                        <div class="d-flex justify-content-start align-items-center" style="gap: 5px;" *ngIf="product.productType.name == 'Machine'">
                            <img src="https://res.cloudinary.com/dvkjlgu83/image/upload/v1687206032/design/verified_qbvytb.png" class="shield-badge">
                            <div class="warranty-text">{{'catalog.money-30' | translate}}</div>
                        </div> -->

                        <span class="divider"></span>


                        <nav class="mx-0">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Info</button>
                              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</button>
                              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Delivery</button>
                            </div>
                          </nav>
                          <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="product-details" *ngIf="product.description.length>0">
                                    <div style="font-size:small; font-family: 'Rockwell', sans-serif !important;" [innerHTML]="product.description"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                                <div class="my-3 mx-3">
                                    <div>{{'No reviews yet. Be the first!'}}</div>
                                    <button class="btn" disabled><i class="fa-solid fa-plus"></i>{{'add_review' | translate}}</button>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="product-details">
                                    <div style="font-size:small;">Крис да ми прати текст за тук.</div>
                                </div>
                            </div>
                          </div>


                        <span class="divider"></span>

                        <div class="product-btn-group">
                            <a class="button buy-now" (click)="buyInstant()"><i class='bx bxs-zap' ></i>{{'catalog.buy_now' | translate}}</a>
                            <a class="button add-to-cart" (click)="CartService.addItem(product, false, true)" role="button"><i class="fa-solid fa-cart-shopping"></i> {{'product_details.add_to_cart' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="container my-4">
    <div class="row align-items-center justify-content-md-center text-center mx-3">
        <div class="col-sm text-center align-items-center justify-content-center">
            <i class="fa fa-user-secret big-icon my-2" aria-hidden="true"></i>

            <div class="icon-heading my-2">{{'product_details.icon_1_heading' | translate}}</div>
            <div class="icon-content">{{'product_details.icon_1_text' | translate}}</div>
        </div>
        <div class="col-sm">
            <i class="fa fa-truck-fast big-icon my-2" aria-hidden="true"></i>
            <div class="icon-heading my-2">{{'product_details.icon_2_heading' | translate}}</div>
            <div class="icon-content">{{'product_details.icon_2_text' | translate}}</div>
        </div>
        <div class="col-sm">
            <i class="fa fa-heart-crack big-icon my-2" aria-hidden="true"></i>
            <div class="icon-heading my-2">{{'product_details.icon_3_heading' | translate}}</div>
            <div class="icon-content">{{'product_details.icon_3_text' | translate}}</div>

        </div>
        <div class="col-sm">
            <i class="fa fa-medal big-icon my-2" aria-hidden="true"></i>
            <div class="icon-heading my-2">{{'product_details.icon_4_heading' | translate}}</div>
            <div class="icon-content">{{'product_details.icon_4_text' | translate}}</div>
        </div>
    </div>
</div>
