.info-container {
    background: #333;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid yellow;
    color: #fff;
    font-weight: bold;
    margin-left: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
  .credit-inputs {
    background: rgba(233, 229, 0, 0.418);
    color: white;
    border-color: rgba(233, 229, 0, 0.418);
    margin-bottom: 10px;
  }
  
  .credit-inputs::placeholder {
    color: #fff;
    font-size: 13px;
  }
  
  .credit-inputs:active {
    background: rgba(233, 229, 0, 0.418);
    border-color: rgba(233, 229, 0, 0.418);
  }
  
  
  .credit-card-label {
    font-size: 12px;
    font-weight: 400;
    color: white;
  }
  
  .discount-code-label  {
    font-size: 12px;
    font-weight: 500;
    color: black;
  }
  
  .form-control.credit-inputs:focus {
    background: #333;
    border: rgba(233, 229, 0, 0.418);
    color: white;
  }
  
  .line {
    border-bottom: 1px solid #aaaaaa;
  }
  
  .information span {
    font-size: 12px;
    font-weight: 500;
  }
  
  .information {
    margin-bottom: 5px;
  }
  
  .items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
    background-color: yellow;
    color: black;
  }
  
  .spec {
    font-size: 11px;
  }
  
  .btn-continue {
    background: yellow;
    border: none;
    color: black;
    -webkit-box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
    min-width: 50px;
    overflow: hidden;
    outline: none;
    padding: 0.7rem;
    position: relative;
    transition: 0.4s ease;
    width: 40%;
    float: right;
  }
  .btn-continue :active {
  -webkit-box-shadow: 0 0 0 0.2rem yellow;
  box-shadow: 0 0 0 0.2rem yellow;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  }
  .btn-continue:hover {
  cursor: pointer;
  }
  .btn-continue:hover {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 0, 0.527);
  box-shadow: 0 0 0.5rem 0.2rem rgba(255, 255, 0, 0.527);
  
  }
  
  
  
  .form-control {
  
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }
  
.checkout {
    border-bottom: 1px solid #666;
  }
  
.single-product .breadcrumb{
    background: #333;
    padding: 8px 4px;
    border-radius: 8px;
    font-size: 15px;
    color: yellow;
}

.breadcrumb span{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 8px;
    color: white;
}


.breadcrumb span a{
    text-decoration: none;
    color: var(--primary-color);
}
.active {
    color: yellow !important;
}

.items {
    max-height: 10vh;
}
.error {
  color: red;
}
::ng-deep .mat-mdc-select-value-text {
  color: white !important;
}

::ng-deep .mat-select-placeholder {
  color: white !important;
}
  
