
@property --accent-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #983869;
  }

div {
    font-family: 'Rockwell', sans-serif;
}
h2 {
  font-family: 'Rockwell', sans-serif;
}
.wrapper {
    margin: 10%;
    margin-top: 10vh;
}

.route-breadcrumb {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Rockwell', sans-serif;
    line-height: 1.5rem;
    text-decoration: none;
    color: black;
}

.route-breadcrumb:hover {
    color: var(--accent-color);
}


.category-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Rockwell', sans-serif;
    line-height: 5rem;
}

.category-description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Rockwell', sans-serif;
    line-height: 1.5rem;
}

.category-btn {
    align-items: center;
    background-color: #fcfcfc;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    cursor: pointer;
    font-family: 'Rockwell',sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 200px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s;


  }

  .category-btn + .category-btn {
    margin-left: 16px;
    margin-bottom: 10px;
  }

  .category-btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }

  .category-btn:hover:after {
    transform: translate(0, 0);
  }

  .category-btn:active {
    background-color: #ffdeda;
    outline: 0;
  }



  .activeCategory {
    background-color: var(--accent-color);
    color: white;
  }

  .activeCategory:after {
    background-color: white;
  }


  @media (min-width: 768px) {
    .category-btn {
      padding: 0 40px;
    }

    .category-btn:hover {
      outline: 0;
      background-color: var(--accent-color);
      color: white;

    }
  }


@media (max-width:700px) {
    .filters {
        margin-top: 50px;
    }

    .productlistel {
        margin-bottom: 50px;
    }

    .category-description {
        font-size: 1rem;

    }
}