<div class="wrapper">
    <div class="container">

        <h2 class="d-flex align-items-center justify-content-center" style="font-size: 3rem; min-height:400px; line-height:normal">Coming soon... ❤️</h2>
        <!-- Breadcrumbs -->
        <!-- <div class="container d-flex my-4">
                <div *ngFor="let route of this.breadCrumbs; index as i">
                <span><a class="route-breadcrumb" [routerLink]="['/'+this.translate.currentLang+'/'+route.url]">{{route.name}}</a></span>
                <span *ngIf="this.breadCrumbs.length>i+1"> > </span>
         </div>
        </div> -->


        <!-- <h1 class="category-title">{{currentCategory.name.replace("_", " ")}}</h1>
        <h4 class="category-description">{{translate.currentLang == "en" ? currentCategory.description: currentCategory.descriptionBG}}</h4> -->


        <!-- Button list -->
        <!-- <div class="row">
            <button *ngFor="let category of categories"
            class="category-btn col"
            role="button"
            (click)="onCategoryClick(category)"
            [class.activeCategory] = "category.checked">{{category.name}}</button>
        </div>
        <br>
        <br> -->

        <app-product-list></app-product-list>


    </div>
</div>


