<div class="cart is-hidden">
  <div class="cart__overlay"></div>
  <div class="cart__contents" style="display: flex; flex-direction: column; justify-content: space-between;">
     <div class="cart__products column justify-content-between">
        <h2>{{'cart.header' | translate }}</h2>
        <br>
        <p class="microcopy">{{'cart.subheader' | translate}}</p>
        <div class="products" *ngIf="this.CartService.cartItemsCount.getValue()>0">
           <div class="product" *ngFor="let item of this.CartService.cartItems.getValue()">
              <div class="product__1">
                 <div class="product__thumbnail">
                    <img [attr.src]="this.GlobalsService.productPhotosMediaURLs + item.product.photosJSON.thumbnail" alt=""   style="width: 100%; height: 100%;"/>
                 </div>
                 <div class="product__details">
                    <div style="margin-bottom: 8px;"><b>{{item.product.name}}</b></div>
                    <!-- <div style="font-size: 90%;">Size: <span class="tertiary">12" x 10"</span></div>
                       <div style="font-size: 90%;">Frame: <span class="tertiary">0.75"</span></div>
                       <div style="font-size: 90%;">Edge: <span class="tertiary">Photo Wrap</span></div>
                       <div style="margin-top: 8px;"><a href="#">change</a></div> -->
                 </div>
              </div>
              <div class="product__2">
                 <div>
                    <div class="input input--select input--small">
                       <label for="country" class="input__label">{{'cart.quantity' | translate}}:</label>
                       <div class="d-flex flex-row align-items-center">
                          <div class="quantity buttons_added">
                             <input type="button" value="-" class="minus" (click)="this.CartService.removeItem(item.product)">
                             <input type="number" step="1" min="1" max="" name="quantity" [(ngModel)]="item.quantity" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                             <input type="button" value="+" class="plus" (click)="this.CartService.addItem(item.product)">
                          </div>
                       </div>
                       <!-- <div style="cursor: pointer;" (click)="this.CartService.deleteItem(item.product)">Delete</div> -->
                    </div>
                 </div>
              </div>
              <div class="product__price" style="float: left; text-align:left; "><b>{{"cart.total_per_product" | translate}}: {{item.product.price * item.quantity | convert:((this.translateService.currentLang == "bg"? "BGN": "EUR")) | currency:(this.translateService.currentLang == "bg"? "BGN": "EUR")}}</b></div>
           </div>
        </div>
        <div *ngIf="this.CartService.cartItemsCount.getValue()==0">
           {{'cart.empty' | translate}}
        </div>
     </div>
     <div class="cart__totals">
        <table class="totals">
           <tbody>
              <tr>
                 <td colspan="2">
                    <div class="collapser">
                       <a href="#" class="collapser__label">{{'cart.add_code' | translate}}</a>
                       <div class="collapser__content">
                          <div class="f">
                             <div class="f70">
                                <div class="input input--small">
                                   <label for="couponcode" class="input__label">{{'cart.code' | translate}}<span class="optional">({{'cart.optional' | translate}})</span></label>
                                   <input id="couponcode" type="text" class="input__input" data-mask=".{5,}"  [(ngModel)]="couponCode" value="this.CartService.couponCode"/>
                                   <div class="input__error">{{'cart.please_enter_valid_code' | translate}}</div>
                                </div>
                             </div>
                             <div class="f30">
                                <button class="btn btn--small btn--secondary btn--full js-add-gift-card" style="margin-left: 0;" (click)="validateCouponCode()">Add</button>
                             </div>
                          </div>
                       </div>
                    </div>
                 </td>
              </tr>
              <tr>
                 <th class="align-left font-normal tertiary">{{'cart.subtotal' | translate}}</th>
                 <td class="align-right">{{this.CartService.calculateTotal() | convert:(this.translateService.currentLang == "bg"? "BGN": "EUR") | currency:(this.translateService.currentLang == "bg"? "BGN": "EUR")}}</td>
              </tr>
              <tr *ngIf="CartService.couponData">
               <th class="align-left font-normal tertiary" *ngIf="CartService.couponData.discount>0">{{'checkout.overview.discount' | translate}}</th>
               <td class="align-right" *ngIf="CartService.couponData.isPercentage && CartService.couponData.discount>0">{{CartService.couponData.discount}} %</td>
               <td class="align-right" *ngIf="!CartService.couponData.isPercentage && CartService.couponData.discount>0">{{CartService.couponData.discount | convert | currency:(this.translateService.currentLang == "bg"? "BGN": "EUR")}}</td>
            </tr>
              <tr>
                 <th class="align-left font-normal tertiary">{{'cart.shipping' | translate}} <small>({{'cart.estimated' | translate}})</small></th>
                 <td class="align-right">TBD</td>
              </tr>
              <!-- <tr>
                 <th class="align-left font-normal tertiary">Tax <small>(estimated)</small></th>
                 <td class="align-right">$13.00</td>
              </tr> -->
              <tr  *ngIf="this.GlobalsService.processing_fee>0">
               <th class="align-left font-normal tertiary">{{'checkout.overview.processing_fee' | translate}}</th>
               <td class="align-right">{{ this.GlobalsService.processing_fee | convert: (this.translateService.currentLang == "bg"? "BGN": "EUR") | currency:(this.translateService.currentLang == "bg"? "BGN": "EUR")}}</td>
              </tr>
              <tr>
                 <th class="align-left">{{'cart.total' | translate}}</th>
                 <td class="align-right"><b>{{this.CartService.calculateTotal(true, true) | convert:(this.translateService.currentLang == "bg"? "BGN": "EUR") | currency:(this.translateService.currentLang == "bg"? "BGN": "EUR")}}</b></td>
              </tr>
           </tbody>
           <tfoot>
              <tr>
                 <td colspan="2" class="tertiary"><small></small></td>
              </tr>
           </tfoot>
        </table>
        <div class="form__footer">
           <button class="btn btn--secondary first js-toggle-cart" click-stop-propagation>{{'cart.continue_shopping' | translate}}</button>
           <button class="btn btn--primary second js-toggle-cart"
           (click)="this.router.navigate(['/'+this.translateService.currentLang+'/checkout/'])"
           [disabled]="this.CartService.cartItemsCount.value<1">{{'cart.pay_now' | translate}}</button>
        </div>
        <img src="https://storage.googleapis.com/upcart-public/payment-icons.png" alt="Secured payment gateways" style="padding: 20px; width: 100%;">

     </div>

  </div>

</div>