<div class="info-container">
  {{'checkout.overview.order_overview' | translate }}
  <span class="type d-block mt-3 mb-1"></span>
  <div class="product-list overflow-auto">
    <div *ngFor="let item of (CartService.cartItems | async)">
      <div class="equation d-flex align-items-center justify-content-between item-row">
        <div class="quantity-item">{{item.quantity}}</div>
        <div><i class="fas fa-times"></i></div>
        <div class="items rounded d-flex">
          <img class="rounded product-img" [attr.src]="this.GlobalsService.productPhotosMediaURLs + item.product.photosJSON.thumbnail">
          <div class="item-desc">
            <span class="font-weight-bold d-block">{{item.product.name}}</span>
          </div>
        </div>
        <i class="fas fa-equals"></i>
        <div class="price-multi">
          <div class="d-block font-weight-bold price">{{(item.product.price * item.quantity) | convert:(this.translate.currentLang == "bg"? "BGN": "EUR") | currency:(translate.currentLang=="bg"?"BGN":"EUR")}}</div>
        </div>
      </div>
    </div>
  </div>
<hr class="line">
  <div class="d-flex justify-content-between information"><span>{{'checkout.overview.subtotal' | translate}}</span><span>{{CartService.calculateTotal(false) | convert:(this.translate.currentLang == "bg"? "BGN": "EUR") | currency:(translate.currentLang=="bg"?"BGN":"EUR")}}</span></div>
  <div *ngIf="CartService.couponData != undefined">
    <div class="d-flex justify-content-between information" *ngIf="CartService.couponData.discount>0"><span>{{'checkout.overview.discount' | translate}}</span>
      <span *ngIf="CartService.couponData.isPercentage">-{{CartService.couponData.discount}} %</span>
      <span *ngIf="!CartService.couponData.isPercentage">-{{CartService.couponData.discount | convert | currency:(translate.currentLang=="bg"?"BGN":"EUR")}}</span>
    </div>
  </div>
  <div class="d-flex justify-content-between information" *ngIf="this.shippingPrice != undefined"><span>{{'checkout.overview.shipping' | translate}}</span> <span>{{shippingPrice | convert:(this.translate.currentLang == "bg"? "BGN": "EUR") | currency:(translate.currentLang=="bg"?"BGN":"EUR")}}</span></div>
  <div class="d-flex justify-content-between information" *ngIf="this.GlobalsService.processing_fee>0">
    <span>{{'checkout.overview.processing_fee' | translate}}</span>
    <span>{{ this.GlobalsService.processing_fee | convert | currency:(translate.currentLang=="bg"?"BGN":"EUR")}}</span>
  </div>
  <div class="d-flex justify-content-between information"><span>{{'checkout.overview.total' | translate}}</span><span>{{total | convert:(this.translate.currentLang == "bg"? "BGN": "EUR") | currency:(translate.currentLang=="bg"?"BGN":"EUR")}}</span></div>
</div>
