#a-header {
    background: linear-gradient(rgba(10, 45, 65, 0.6), rgba(10, 45, 65, 0.4)),url("https://firebasestorage.googleapis.com/v0/b/oflesh.appspot.com/o/design%2FABUS-GLAVNO-MOLQ%20DA%20GO%20SLOVISH.jpg?alt=media&token=e3470d9e-5f0b-424c-bcd5-476b344dfae5");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #fff;
    text-shadow: 0 0 10px #0a2d41;

}
#a-header h1 {
    font-size: 3.5em;

}
.a-underline {
    font-size: 36px;
}
.a-text {
    font-size: 18px;
}

@media only screen and (min-width: 720px) {
.a-right {
    padding-left: 20px;
}
.a-left {
    padding-right: 20px;
}
}


h2 {
    color: black;
}

.text-gray {
    color: black;
}