/* Medium devices (tablets, less than 62em) */
@media screen and (max-width: 61.9em){

    .contacts-list{
        margin-top: -30px;
    }

    .contacts-list .item{
        width: 50%;
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        padding-top: 30px;
    }

    .contacts-list .item-header,
    .contacts-list .item-body{
        padding-right: 0;
    }
}


@media screen and (max-width: 37.9em){

    .contacts-list .item{
        width: 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}