.particles-js-canvas-el {
    position: fixed;
    top: 0;
    z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

::ng-deep * {
      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
  }


.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: yellow !important;
    border-color: yellow !important;

}

.btn-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

/* make the class hidden by default */
#result-wheel {
    display: none;
}

@media (max-width: 768px) {
    .btn-container {
        flex-direction: column;
    }
}

@media (min-width: 768px) {

    .btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
        padding: 0 !important;
        margin: 0 !important;
    }
    
}