
@property --accent-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #983869;
  }

@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@100;200;300;400;500;600;700;800;900&display=swap');
::ng-deep * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Helvetica'; */
  }

body {
    background-color: #fafafa;
}

.view-cart-btn, .view-cart-btn:hover, .view-cart-btn:active, .view-cart-btn:visited {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;


}

.btn-container {
    display: flex;
    width: 100%;
    padding: 10px;
}

.btn {
    margin: 10px;
}

.continue {
    background-color: white;
    transition: all 0.3s ease;
}

.continue:hover {
    background-color: black;
    color: white;


}



.view-cart {
    background-color: var(--accent-color);
    transition: all 0.3s ease;

}

.view-cart:hover {
    color: white;
    background-color: var(--accent-color);


}

@media (max-width: 768px) {
    .btn-container {
        flex-direction: column;
    }
}

@media (min-width: 768px) {

    .btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
        padding: 0 !important;
        margin: 0 !important;
    }

}