* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    width: 100%;
    background-color: #333;
}

.active {
    color: yellow;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background: #333;
    position: sticky;
    min-height: 70px;
    top: 20px;
    left: 0;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-bottom: 1vh solid yellow;
    width: 100%;

  }
  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
  }

  .navbar .nav-links a{
    text-decoration: none;
  }

  .navbar .nav-links a:hover,
  .navbar .nav-links a.active {
    color: yellow;
}

.navbar .nav-links a:hover::after,
.navbar .nav-links a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: yellow;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }



  .hexagon {
    top:100%;
    left: 10vw;
    width: 13vh;
    height: 13vh;
    background: #333;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    transform: translate( -50%, -50% );
    clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%,  100% 0%, 0% 0% );

}

.logo{
    width: 90%;

    margin-top: 9%;
    margin-left: 5%;
}

.borderhex {
    top: 100%;
    left: 10vw;
    width: 15vh;
    height: 15vh;
    background: yellow;
    position: absolute;
    overflow: hidden;
    transform: translate( -50%, -50% );
    clip-path: polygon(0% 51%, 25% 95%, 75% 95%, 100% 51%);
   /* 75% 5%, 25% 5% */
    z-index: -1;
}


#navbar {
    margin: auto;

}

#navbar li {
    padding: 0 20px;
    position: relative;
    display: inline;
    list-style-type: none;
    vertical-align: middle;
}

#navbar li a,
.dropdown-toggle {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
    letter-spacing: 1px;
    text-decoration: none;

}

#navbar ul {
    list-style: none;
    line-height: normal;
}

#navbar li a:hover,
#navbar li a.active,
.dropdown-toggle:hover {
    color: yellow;
}

.dropdown-toggle {
    color: white;
    background-color: transparent;
    border: none;
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.dropdown-item {
  color: black !important;
  cursor: pointer;

}


#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    height: 2px;
    background: yellow;
    bottom: -4px;
}

#navbar li a i {
    font-weight: 500;
    font-size: 20px;
}

#lblCartCount {
    font-size: 12px;
    background: #fffb00;
    color: black;
    padding: 2px 5px;
    vertical-align: bottom;
    margin-left: -5px;
    margin-bottom: -5px;
    padding-top: 5px;

}
.badge {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}


.flag-container {

  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-button {
  width: 25px;
  height: auto;
  top: 50%;

}


@media (min-width:700px) {

  .flag-container {

      display: none;

  }


}


@media (max-width:700px) {
    .navbar .nav-btn{
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .navbar .nav-btn label {
      display: inline-block;
      width: 80px;
      height: 70px;
      padding: 25px;
    }
    .navbar .nav-btn label span {
      display: block;
      height: 10px;
      width: 25px;
      border-top: 3px solid #eee;
    }
    .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
      background-color: #333;
      border-bottom: 1vh solid yellow;
    }
    .navbar .nav-links{
      position: absolute;
      display: block;
      text-align: center;
      width: 50%;
      background-color: #333;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      right: 0px;
    }
    .navbar .nav-links a {
      display: block;
    }

    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    /* when nav toggle button is checked */
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 70px);
      overflow-y: auto;
    }
    .borderhex {
        left: 20vw;
    }
    .hexagon {
        left: 20vw;
    }

    .desktop-only {
        display: none !important;
        visibility: hidden;
    }
  }