<app-broadcast-line></app-broadcast-line>

<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<jw-modal id="modal-1">
    <h1 style="background-color: yellow;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 20px;">{{'modals.new_item_added' | translate}}</h1>

    <div *ngIf="(this.cartService.cartItemsCount | async) > 0">
        <div *ngFor="let item of this.cartService.cartItems | async">
            <div class="row" style="padding: 10px; margin: 10px;">
                <div class="col-3">
                    <img [attr.src]="GlobalsService.productPhotosMediaURLs + item.product.photosJSON.thumbnail" style="width: 100%;">
                </div>
                <div class="col-8">
                    <div class="h6 font-weight-bold">{{item.product.name}}</div>
                    <div class="card-text-specs">
                        <div class="spec"><b>{{'catalog.product_type' | translate}}:</b> {{item.product.productType.name}}</div>
                        <div class="spec"><b>{{'catalog.product_model' | translate}}:</b> {{item.product.productModel.name}}</div>
                    </div>
                    <div class="h6 font-weight-bold pricelabel">{{item.product.price * 0.6 | convert | currency:(translate.currentLang == "bg"? "BGN": "EUR")}}</div>
                </div>
                <div class="col-1">
                    <div class="h6 font-weight-bold pricelabel">x{{item.quantity}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn btn-light btn-block" (click)="modalService.close();">{{'modals.continue_shopping' | translate}}</button>
        <button class="btn btn-warning btn-block" (click)="modalService.close(); this.router.navigate(['/'+this.translate.currentLang+'/cart'])">{{'modals.view_cart' | translate}}</button>
    </div>
</jw-modal>


<jw-modal id="modal-call-us">
    <h1 style="background-color: yellow;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;">{{'modals.have_any_questions' | translate}}</h1>

    <div style="padding: 20px; line-height: 30px;">
        {{'modals.call_us' | translate}}<br><a href="tel:+359882829893"
        style="text-decoration:none;
        color: black;
        background-color: yellow;
        border-radius: 5px;
        padding:3px;
        font-weight: 600;
        cursor: pointer;">+359 882 829 893</a>{{'modals.or_email' | translate}}<a href="mailto:honeycomb.rollers@gmail.com"
        style="text-decoration:none;
        color: black;
        background-color: yellow;
        border-radius: 5px;
        padding:3px;
        font-weight: 600;
        cursor: pointer;">honeycomb.rollers@gmail.com</a>.
    </div>

    <div class="btn-container">
        <button class="btn btn-light btn-block" (click)="modalService.close();">{{'modals.close' | translate}}</button>
    </div>
</jw-modal>

<jw-modal id="modal-find-us">
    <h1 style="background-color: yellow;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;">{{'modals.find_us' | translate}}</h1>

    <div style="padding: 20px; line-height: 30px;">
        {{'modals.find_us_text' | translate}} <a
        (click)="redirectToFindUs()"
        style="text-decoration:none;
        color: black;
        background-color: yellow;
        border-radius: 5px;
        padding:3px;
        font-weight: 600;
        cursor: pointer;">{{'modals.here' | translate}}</a>.
    </div>

    <div class="btn-container">
        <button class="btn btn-light btn-block" (click)="modalService.close();">{{'modals.close' | translate}}</button>
    </div>
</jw-modal>

<jw-modal id="modal-wheel-of-fortune">
    <h1 style="background-color: yellow;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;">{{'modals.special_offer' | translate}}</h1>

    <div style="padding: 20px; line-height: 30px; display: flex; align-items: center; justify-content: center;">
        <app-wheel-of-fortune></app-wheel-of-fortune>
    </div>

    <div id="result-wheel" (click)="this.startTimer()">

        <div style="padding: 20px; line-height: 30px;">
            {{'modals.win_message_1' | translate}} <a
            (click)="redirectToFindUs()"
            style="text-decoration:none;
            color: yellow;
            border-radius: 5px;
            font-weight: 600;">40%</a>!
            <a (click)="redirectToCatalog()"
            style="text-decoration:none;
            color: black;
            background-color: yellow;
            border-radius: 5px;
            padding:3px;
            font-weight: 600;
            cursor: pointer;">
            {{'modals.shop_now' | translate}}
            </a>
            {{'modals.win_message_2' | translate}}
        </div>
        <div class="btn-container">
            <button class="btn btn-light btn-block" (click)="modalService.close();">{{'modals.close' | translate}}</button>
        </div>
    </div>
</jw-modal>
