
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
}


/* CSS */
.add-to-cart-catalog {
  background-color: black;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Rockwell",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  width: 100%;
  padding: 0 1.3rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


@media (min-width: 768px) {
  .add-to-cart {
    padding: 0 2.6rem;
  }
}

.single-product {
  cursor: pointer;
  font-family: 'Rockwell', sans-serif !important;
}

 .single-product .part-1 .discount,
 .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

 .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

 .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    /* left: 20px; */

    margin: auto;
    align-items: center;
    padding: 0;
    list-style: none;
    text-align: center;

    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

 .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

 .single-product .part-1 ul li {
    display: inline-block;
    /* margin-right: 4px; */
}

 .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

 .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

 .single-product .part-2 .product-title {
    font-size: 1rem;
    font-family: 'Rockwell', sans-serif;

}

.single-product .part-2 .product-price {
    font-family: 'Rockwell', sans-serif;

}

 .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

 .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
    font-family: 'Rockwell', sans-serif;
}

 .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}