@charset "UTF-8";

/*! normalize v.5.0.0 */html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:600}dfn{font-style:italic}h1{font-size:2em;}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}input[type="text"],input[type="search"],input[type="text"],textarea{line-height:normal;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}fieldset{border:0;margin:0;padding:0}legend{display:none;border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:500}table{width:100%;border-collapse:collapse;border-spacing:0}td,th{padding:0}ol,ul{margin:0;padding:0;list-style:none}*{margin:0;padding:0}button,input[type=tel],input[type=number],input[type=text],input[type=email],input[type=tel],input[type=search],input[type=password],textarea{-webkit-appearance:none;}*{outline:0;text-rendering:optimizeLegibility}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:none;cursor:pointer;}button[disabled],html input[disabled]{opacity:1;cursor:defalut;}input[type=search]{}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

/***** Globals *****/

*{ -webkit-tap-highlight-color: transparent; }

*, *:after, *:before{
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after,
.wrapper:before,
.wrapper:after,
.container-grid:before,
.container-grid:after,
.news-list .item article:before,
.news-list .item article:after{
    content: '\A';
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after,
.wrapper:after,
.container-grid:after,
.news-list .item article:after{
    clear: both;
}



.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header,
#header-white,
#footer {
    flex-shrink: 0;
}

img{
    display: inline-block;
    max-width: 100%;
    line-height: 0;
    vertical-align: top;
}

picture img{
    width: 100%;
}

a img{ border: 0; }

a{
    color: #db232a;
    text-decoration: underline;
    transition: color 250ms cubic-bezier(.165,.84,.44,1), background 250ms cubic-bezier(.165,.84,.44,1), border-color 250ms cubic-bezier(.165,.84,.44,1);
}

a:hover{
    text-decoration: none;
}



@media screen and (max-width: 37.9em){
    .hide-xs {
        display: none !important;
    }
}

/* .subscribe-promotion .subscribe-promotion-title:before, .subscribe-promotion .subscribe-promotion-form button span, .to-top span, .button-compare span:before ,.button-cart span:before, .button-buy span:before, .products-grid .js-show-more span:after, .breadcrumbs-list a:after, .clear-button span:before, .app [class*="checkbox"] [type="checkbox"]:not(:checked) ~ .checkbox-item:after, .app [class*="checkbox"] [type="checkbox"]:checked ~ .checkbox-item:after, .paging li.prev a:before, .paging li.next a:before, .product-gallery .gallery-item button:before, table .option:before, .product-table-characteristics .js-show-more-characteristics span:after, .product-warranty .warranty-duration, .product-buttons .buttons-list button span:before, .product-buttons .buttons-list .button span:before, .stores-list li:before, .sort-item .js-toggle-sort span:after, .sort-line .sort-item .sortable:after, .back-to-list:before, .app .modal-close, .app .modal-expand, .modal .modal-icon:before, .modal-subscribe .subscribe-form button, .button-back:before, .button-next:after, .advice-list .item .video-icon:before, .alert-box:before, .accordion .accordion-header:after, .positions-accordion .accordion-header:before, .check-list li:before, .app .tabs-button:after, .working-steps .step:after, #header-white .telephone a:before, .login-forms .button:after, .contacts-list .icon:before, .store-item .store-icon:before, .checkout-steps .completed .step-count:before, .product-block .product-delivery:before, .product-leasing:after, .product-leasing .leasing-info:after, .to-compare span, .rating span, .reviews-list .review-body:before, .custom-rating label, .compare-table .product-controls button span, .compare-table .compare-product-close button span, .compare-products-count, .favorites-list .remove-favorite span:before, .favorites-list .button-buy span, .favorites-list .gift-top .gift-label:before, .products-in-package .product-item + .product-item:before, .no-orders-text:before, .no-vouchers-text:before, .newsletter-text:before, .order-table .processing, .order-table .pre-order:before, .order-table .delivery-order:before, .button-delete-profile span:before, .address-list .list-item-controls .control, .pickup-list .store-name:before, .info:before, .cart-preview .remove-item span:before, .remove-voucher span:before, .item-quantity button span, .button-vouchers span:before, .cart-prices .delivery-label:before, .cart-voucher:before, .cart-prices .voucher-label:before, .boxes .remove-box span, .datepicker:before, .product-block .preorder-label:before, .product-block .extended-warranty-label:before, .related-products-slider .item-added:before, .item-delivery:before, .item-preorder:before, .checkout-confirm:before, .bundle-list .list-item:before, .bundle-list-items .bundle-item:before, .sort-line .sort-view button:after, .promotions-form .promotions-title div:before, .promotions-form .promotions-box .inner:after, .promotions-form .promotions-box .form button span, .eco-message .message-label .label:before, .subscription .cell-title:before, .subscription .cell-form .form button span, .products-list-list .feature-type:before, .downloads-list li:before, .downloads-list li:after, .compare-table-holder .item-delivery:before, .compare-table-holder .item-preorder:before, .app .slick-arrow, .item-bundle_.list-item__top, .button-delete-all span:before, .bundle-preview-table li + li:after, .button-add span:before, .search-results-bottom:after, .cart-preview .item-feature:before, .app .button--save:before, .app .button--reject:before, .simple-slider .slick-arrow, .compare-item__button:before, .compare-line .button-clear:before, .order-now:before, .delivery-now:before, .product-box .button-compare:before, .product-box .button-favorites:before, .product-list .button-compare:before, .product-list .button-favorites:before, .button-buy span:before, .product-list .button-buy span:before, .product-box__exhausted span:before, .orders-table .order-total-taxes:before, .location-controls__button:before, .map-list__address:before, .map-list__worktime:before, .checkout-product .remove-item span:before, .location-controls__button:before, .map-top__button:before, .expand-description__button span:after, .pick-address-line:after, .app .button-icon--gray:after {
    background: url('../images/layout/ui.svg') no-repeat -10000px -10000px;
} */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: 400;
    line-height: 1.2;
}

h1, .h1{
    font-size: 44px;
}

h2, .h2{
    font-size: 30px;
}

h3, .h3{
    font-size: 26px;
    line-height: 1.269;
}

h4, .h4{
    font-size: 20px;
}

h5, .h5{
    font-size: 18px;
    line-height: 1.3;
}

h6, .h6{
    font-size: 16px;
}


.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

@supports (-webkit-overflow-scrolling: touch){
    .wrapper{
        padding: 0 12px;
        padding-left: max(12px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
    }
}

.wrapper-1920{
    max-width: 1920px;
}

.homepage .wrapper,
.wrapper-1600{
    max-width: 1600px;
}

.wrapper-1440{
    max-width: 1440px;
}

.wrapper-1300{
    max-width: 1360px;
}

.wrapper-1200{
    max-width: 1200px;
}

.wrapper-1100{
    max-width: 1100px;
}

.wrapper-1000{
    max-width: 1000px;
}

.wrapper-860{
    max-width: 860px;
}

.wrapper-760{
    max-width: 760px;
}

.wrapper-registration {
    max-width: 1320px;
}

.wrapper .wrapper{
    padding-left: 0;
    padding-right: 0;
}


/* EOF Breadcrumbs */








.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.d-flex input{
    max-width: 170px;
}

.justify-content-start {
    justify-content: space-between;
}

#sticky-products-preview{
    position: sticky;
    position: -webkit-sticky;
    top: 10px; left: 0;
}


.general ol,
.general ul,
.text-page ol,
.text-page ul{
    padding: 0 0 0 20px;
}

.general ol li,
.general ul li,
.text-page ol li,
.text-page ul li{
    padding: 2px 0;
    position: relative;
}

.general ul li:before,
.text-page ul li:before{
    content: "•";
    position: absolute;
    top: -1px;
    margin-left: -20px;
    color: #db232a;
    font-size: 20px;
}







/* Old Grid */
.grid-container *, .grid-container:after, .grid-container:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.grid-container [class*='grid-']{float:left;padding:10px;}.clear-grid{clear:both;float:inherit}.grid-container{width:auto!important; margin:0 -10px!important;padding:0;}.grid-container:after,.grid-container:before{display:table;clear:both;content:" "}.nest{margin:0 -10px;padding:0;width:auto}.grid-m-12{width:100%}.grid-m-11{width:91.666663%}.grid-m-10{width:83.33%}.grid-m-9{width:74.999997%}.grid-m-8{width:66.66666664%}.grid-m-7{width:58.333%}.grid-m-6{width:50%}.grid-m-5{width:41.6665%}.grid-m-4{width:33.33%}.grid-m-3{width:24.99%}.grid-m-2{width:16.66666%}.grid-m-1{width:8.33%}@media (min-width: 720px){.grid-12{width:100%}.grid-11{width:91.666663%}.grid-10{width:83.33%}.grid-9{width:74.999997%}.grid-8{width:66.66666664%}.grid-7{width:58.333%}.grid-6{width:50%}.grid-5{width:41.6665%}.grid-4{width:33.33%}.grid-3{width:24.99%}.grid-2{width:16.66666%}.grid-1{width:8.33%}.grid-t-12{width:100%}.grid-t-11{width:91.666663%}.grid-t-10{width:83.33%}.grid-t-9{width:74.999997%}.grid-t-8{width:66.66666664%}.grid-t-7{width:58.333%}.grid-t-6{width:50%}.grid-t-5{width:41.6665%}.grid-t-4{width:33.33%}.grid-t-3{width:24.99%}.grid-t-2{width:16.66666%}.grid-t-1{width:8.33%}}@media only screen and (min-width: 1024px){.grid-tl-12{width:100%}.grid-tl-11{width:91.666663%}.grid-tl-10{width:83.33%}.grid-tl-9{width:74.999997%}.grid-tl-8{width:66.66666664%}.grid-tl-7{width:58.333%}.grid-tl-6{width:50%}.grid-tl-5{width:41.6665%}.grid-tl-4{width:33.33%}.grid-tl-3{width:24.99%}.grid-tl-2{width:16.66666%}.grid-tl-1{width:8.33%}}@media only screen and (min-width: 1200px){.grid-container{padding:0}.grid-container-fluid{}.grid-d-12{width:100%}.grid-d-11{width:91.666663%}.grid-d-10{width:83.33%}.grid-d-9{width:74.999997%}.grid-d-8{width:66.66666664%}.grid-d-7{width:58.333%}.grid-d-6{width:50%}.grid-d-5{width:41.6665%}.grid-d-4{width:33.33%}.grid-d-3{width:24.99%}.grid-d-2{width:16.66666%}.grid-d-1{width:8.33%}}img.scale,img.responsive, figure.scale img, figure.responsive img{max-width:100%;height:auto;width:100%;display:block;float:none;margin:0}article figure.scale,article figure.responsive,.text-page figure.scale,.text-page figure.responsive{float:none;margin:0}

