* {
    font-family: Rockwell, serif;
}

@property --main-font {
    syntax: "<font-family>";
    inherits: false;
    initial-value: Rockwell, serif;
  }



@property --accent-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #bd377d;
  }


p {
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}



.pre-carousel {
    text-align: center;
    margin: 30px;

}

.primary {
    font-size: 2rem;
    max-width: 450px;
    margin-bottom: 0;
    font-family: Rockwell, serif;

}

.secondary {
    font-size: 1.1rem;
    max-width: 450px;
    font-family: Rockwell, serif ;
}

.pre-carousel- {
    text-align: center;

    font-size: 2rem;
    max-width: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.content-title {
    color: var(--accent-color);
    font-size: 2rem;
    font-family: Rockwell, serif !important;
}

.feature-title {
    color: var(--accent-color);
    font-size: 1.3rem;
    margin-bottom: 0;
    font-family: Rockwell, serif !important;

}

@media (min-width: 700px) {
    .featured {
        display:flex;
    }

    .left {
        -webkit-box-align: left;
        -ms-flex-align: left;
        align-items: left;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
      }

      .right {
        -webkit-box-align: right;
        -ms-flex-align: right;
        align-items: right;
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
      }

}


@media (max-width:700px) {
    #homeparagraph {
        line-height: 3vh;
    }

    .item {
        line-height: 40px;
        font-size: 25px;
    }

    .appear {
        text-align: center;
    }

    .featured {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    .newsletter_header {
        font-size: 20px;
    }

    .what_i_get {
        font-size: 20px;
        line-height: 30px;

    }

    .what_i_get_header {
        font-size: 30px;
    }
    .bullet {
        font-size: 20px;
    }
}