<section id="contact-details" class="section-p1">
  <div class="details bubble">
      <span>{{'contact.get_in_touch' | translate}}</span>
      <h2>{{'contact.visit_distributors' | translate}}</h2>
      <h3>{{'contact.sofia_bulgaria' | translate}}</h3>
      <div>
          <li>
            <div class="pair">
              <div class="icon">
                <i class="fal fa-map" style="color:white;"></i></div>
                <div class="text">{{'contact.address' | translate}}</div>
            </div>
          </li>
          <!--
          <li>
              <i class="far fa-envelope"></i>
              <p>contact@example.com </p>
          </li>
          -->
          <li>
            <div class="pair">
              <div class="icon"><i class="fas fa-phone-alt" style="color:white;"></i></div>
              <div class="text">+359 88 650 8084</div>
            </div>
            
          </li>
          <li>
            <div class="pair">
              <div class="icon">
                <i class="far fa-clock col-sm-1" style="color:white;"></i>
              </div>
                <div class="text">
                  {{'contact.working_hours_1' | translate}} <br> {{'contact.working_hours_2' | translate}}
                </div>
            </div>
              
              
          </li>
      </div>
      <div class="divider"></div>
      <h3>{{'contact.sofia_bulgaria-2' | translate}}</h3>
      <div>
          <li>
            <div class="pair">
              <div class="icon">
                <i class="fal fa-map" style="color:white;"></i></div>
                <div class="text">{{'contact.address-2' | translate}}</div>
            </div>
          </li>
          <!--
          <li>
              <i class="far fa-envelope"></i>
              <p>contact@example.com </p>
          </li>
          -->
          <li>
            <div class="pair">
              <div class="icon"><i class="fas fa-phone-alt" style="color:white;"></i></div>
              <div class="text">+359 87 708 7008</div>
            </div>
            
          </li>
          <li>
            <div class="pair">
              <div class="icon">
                <i class="far fa-clock col-sm-1" style="color:white;"></i>
              </div>
                <div class="text">
                  {{'contact.working_hours_1-2' | translate}} <br> {{'contact.working_hours_2-2' | translate}}
                </div>
            </div>
              
              
          </li>
      </div>
  </div>

  <div class="flex-column map-wrapper">
    <div class="map">
      <iframe src="https://maps.google.com/maps?q=%20325-1,,%20%D0%B6.%D0%BA%20%D0%9C%D0%BB%D0%B0%D0%B4%D0%BE%D1%81%D1%82%203%203251,%201712%20%D0%A1%D0%BE%D1%84%D0%B8%D1%8F&t=&z=13&ie=UTF8&iwloc=&output=embed"
           style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.076845566692!2d23.3206196!3d42.7020936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8567c9c06dff%3A0xa0f50f6529fcaa5b!2z0J_Rh9C10LvQsNGA0YHQutC4INCc0LDQs9Cw0LfQuNC9INCi0LjQu9C40LA!5e0!3m2!1sbg!2sbg!4v1687202656541!5m2!1sbg!2sbg"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  
</section>