<div class="card">
  <article class="filter-group">
    <header class="card-header">
      <i class="icon-control fa fa-chevron-down"></i>
        <h2 class="title"><b>{{'catalog.product_types_header' | translate}}</b></h2>
    </header>
    <div class="filter-content collapse show" id="collapse_2" style="">
      <div class="card-body" *ngFor="let item of productTypes">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" [checked]="item.checked" (click)="changeTypeStatusOption($event, item)" class="custom-control-input">
          <div class="custom-control-label">{{item.name}}  
            <b class="badge badge-pill badge-light float-right" style="color:black;">{{item.count}}</b>  </div>
        </label>
  </div> <!-- card-body.// -->
    </div>
  </article> <!-- filter-group .// -->
     <!-- filter-group .// -->
  <article class="filter-group">
    <header class="card-header">
      <i class="icon-control fa fa-chevron-down"></i>
      <h2 class="title"><b>{{'catalog.product_models_header' | translate}}</b></h2>
    </header>
    <div class="filter-content collapse show" id="collapse_4" style="">
      <div class="card-body" *ngFor="let item of productModels">
        <label class="checkbox-btn">
          <input type="checkbox" [checked]="item.checked" cke (click)="changeModelStatusOption($event, item)">
          <span class="btn btn-light model-item" style="margin-left: 5px;"> {{item.name}} </span>
        </label>
    </div><!-- card-body.// -->
    </div>
  </article> <!-- filter-group .// -->

  <!-- <header class="card-header">
    <i class="icon-control fa fa-chevron-down"></i>
    <h2 class="title"><b>Price range</b></h2>
  </header>
  <div class="filter-content collapse show" id="collapse_3" style="">
    <div class="card-body">
      <input type="range" class="custom-range" min="0" max="100" name="">
      <div class="form-row">
      <div class="form-group col-md-6">
        <label>Min</label>
        <input class="form-control" placeholder="$0" type="number">
      </div>
      <div class="form-group text-right col-md-6">
        <label>Max</label>
        <input class="form-control" placeholder="$1,0000" type="number">
      </div>
      </div>
      <button class="btn btn-block btn-primary">Apply</button>
    </div>
  </div> -->


  <button class="btn btn-warning applyfiltersbtn"(click)="applyFilters()">{{'catalog.apply_filters_btn' | translate}}</button>
</div>