#background {
    background-color: hotpink;
    display: flex;
    justify-content: center;

    position: sticky;
    top:0;
    z-index: 999;
}

.content {
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 2;
    text-align: center;
}
.hashtag {
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 2;
    text-align: end;
}

@media (max-width:700px) {
    .desktop-only {
        display: none;
    }
}