#background {
    background-color: #983869;
    display: flex;
    justify-content: center;

    z-index: 999;
}

.content {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 2;
    text-align: center;

}
.hashtag {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 2;
    text-align: end;
}

@media (max-width:700px) {
    .desktop-only {
        display: none;
    }

    .content {
        font-size: 0.8rem;
    }
}