.container {
    width: 100vw;
    height:80vh;
    position: relative;
}

.label {
    color: yellow;
    text-align: center;
    font-size: 60px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    line-height: 50px;
    transform: translate(-50%, -50%);
}

.subtitle {
    color: rgba(255, 255, 255, 0.76);
    font-size: 25px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
    width: 70vw;
}

@media (max-width: 820px) { 

}