<!-- 
   <div class="container">
     
   </div> -->
   <div class="container mt-5 p-3 rounded cart">
      <div class="row no-gutters">
         <div class="breadcrumb">
            <span class="active"><a [routerLink]="['/'+this.translateService.currentLang+'/cart']">{{'cart.cart_title' | translate}}</a></span>
            <span class="active">></span>
            <span class="active"><a [routerLink]="['/'+this.translateService.currentLang+'/cart']">{{'checkout.personal_details_link' | translate}}</a></span>
            <span class="active">></span>
            <span class="active"><a>{{'checkout.shipping_address_link' | translate}}</a></span>
            <span>></span>
            <span>{{'checkout.shipping_method_link' | translate}}</span>
            <span>></span>
            <span>{{'checkout.payment_link' | translate}}</span>
         </div>
         <div class="col-md-7">
            
            <div class="info-container">
               <div class="d-flex justify-content-between align-items-center">
                  <span>{{'checkout.shipping_info' | translate}}</span>
               </div>
               <span class="type d-block mt-3 mb-1"></span>
               <form [formGroup]="form" (ngSubmit)="nextStep()">
               <div formGroupName="shippingAddress">
                  <label class="credit-card-label">{{'checkout.shipping_method_link' | translate}} *</label>
                  <!-- <div class="shipping-options overflow-auto">
                     <div *ngFor="let item of shippingMethods">
                        <div class="row shipping-option">
                           <div class="col-sm-auto">
                              <input type="radio" id="accent" formControlName="shippingMethodId"
                                 value="{{item.id}}">
                           </div>
                           <div class="col-md-10">
                              <div>{{item.title}}</div>
                              <div class = "description">{{item.description}}</div>
                           </div>
                        </div>
                     </div>
                     </div>
                     <hr class="line"> -->
                  <div>
                     <label class="credit-card-label">{{'checkout.shipping_address.line1' | translate}} *</label>
                     <input required type="text" class="form-control credit-inputs" placeholder="" formControlName="addressLine1">
                     <div *ngIf="form.controls['shippingAddress']['controls']['addressLine1'].invalid && (form.controls['shippingAddress']['controls']['addressLine1'].dirty || form.controls['shippingAddress']['controls']['addressLine1'].touched)">
                        <div *ngIf="form.controls['shippingAddress']['controls']['addressLine1'].errors!['required']" class="error">
                            {{'messages.required_field' | translate}}
                        </div>
                    </div>
                  </div>
                  <div>
                     <label class="credit-card-label">{{'checkout.shipping_address.line2' | translate}} ({{'optional' | translate}})</label>
                     <input type="text" class="form-control credit-inputs" placeholder="" formControlName="addressLine2">
                  </div>
                  <div>
                     <label class="credit-card-label">{{'checkout.shipping_address.country' | translate}} *</label>
                     <!-- <input required type="text" class="form-control credit-inputs" placeholder="" formControlName="countryId"> -->
                     <!-- <select required type="text" class="form-control credit-inputs" placeholder="Select" formControlName="countryId">
                        <option *ngFor="let country of countries">{{country.name}}</option>
                      </select> -->

                      <!-- <input class="form-control credit-inputs" autoComplete="on" list="countries"/> 
                      <datalist id="countries" >
                        <option *ngFor="let country  countries" [value]="country.name">{{country.name}}</option>
                    </datalist> -->
                     <mat-select [formControlName]="'countryId'" class="form-control credit-inputs" style="display: flex; color:white;" #singleSelect>
                       <mat-option>
                         <ngx-mat-select-search  placeholderLabel="Search" [formControl]="countryFilterCtrl"></ngx-mat-select-search>
                       </mat-option>
                     <!-- <div *ngIf="form.controls['shippingAddress.countryId'].invalid && (form.controls['shippingAddress.countryId'].dirty || form.controls['shippingAddress.countryId'].touched)">
                        <div *ngIf="form.controls['shippingAddress.countryId'].errors!['required']" class="error">
                            {{'messages.required_field' | translate}}
                        </div>
                    </div> -->
                 
                       <mat-option *ngFor="let bank of filteredCountries | async" [value]="bank">
                         {{bank.name}}
                       </mat-option>
                     </mat-select>
                     <div *ngIf="form.controls['shippingAddress']['controls']['countryId'].invalid && (form.controls['shippingAddress']['controls']['countryId'].dirty || form.controls['shippingAddress']['controls']['countryId'].touched)">
                        <div *ngIf="form.controls['shippingAddress']['controls']['countryId'].errors!['required']" class="error">
                            {{'messages.required_field' | translate}}
                        </div>
                    </div>
                    
                    
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label class="credit-card-label">{{'checkout.shipping_address.city' | translate}} *</label>
                        <input required type="text" class="form-control credit-inputs" placeholder="" formControlName="city">
                        <div *ngIf="form.controls['shippingAddress']['controls']['city'].invalid && (form.controls['shippingAddress']['controls']['city'].dirty || form.controls['shippingAddress']['controls']['city'].touched)">
                           <div *ngIf="form.controls['shippingAddress']['controls']['city'].errors!['required']" class="error">
                               {{'messages.required_field' | translate}}
                           </div>
                       </div>
                     </div>
                     <div class="col-md-6">
                        <label class="credit-card-label">{{'checkout.shipping_address.state' | translate}} ({{'optional' | translate}})</label>
                        <input  type="text" class="form-control credit-inputs" placeholder="" formControlName="state">
                     </div>
                  </div>
                  <div>
                     <label class="credit-card-label">{{'checkout.shipping_address.postal_code' | translate}} *</label>
                     <input required type="text" class="form-control credit-inputs" placeholder="" formControlName="postalCode">
                     <div *ngIf="form.controls['shippingAddress']['controls']['postalCode'].invalid && (form.controls['shippingAddress']['controls']['postalCode'].dirty || form.controls['shippingAddress']['controls']['postalCode'].touched)">
                        <div *ngIf="form.controls['shippingAddress']['controls']['postalCode'].errors!['required']" class="error">
                            {{'messages.required_field' | translate}}
                        </div>
                    </div>
                  </div>
               </div>
               </form>

               
            </div>
         </div>
         <div class="col-md-5" *ngIf="checkout">
            <app-checkout-order-overview [checkout]="checkout"></app-checkout-order-overview>
            <button class="btn btn-continue btn-block d-flex justify-content-between mt-3" 
               type="submit" 
               [disabled]="!this.form.get('shippingAddress').valid"
               (click)="nextStep()">
            <span>{{'checkout.continue' | translate}}<i class="fa fa-long-arrow-right ml-1"></i></span>
            </button>
         </div>
      </div>
   </div>