<!-- 
   <div class="container">
     
   </div> -->
   <div class="container mt-5 p-3 rounded cart">
      <div class="row no-gutters">
         <div class="breadcrumb">
            <span class="active"><a [routerLink]="['/'+this.translate.currentLang+'/']">{{'cart.cart_title' | translate}}</a></span>
            <span class="active">></span>
            <span class="active"><a [routerLink]="['/'+this.translate.currentLang+'/cart']">{{'checkout.personal_details_link' | translate}}</a></span>
            <span class="active">></span>
            <span class="active"><a [routerLink]="['/'+this.translate.currentLang+'/checkout/'+checkoutID+'/shipping-address']">{{'checkout.shipping_address_link' | translate}}</a></span>
            <span class="active">></span>
            <span class="active"><a [routerLink]="['/'+this.translate.currentLang+'/checkout/'+checkoutID+'/shipping-method']">{{'checkout.shipping_method_link' | translate}}</a></span>
            <span class="active">></span>
            <span class="active">{{'checkout.payment_link' | translate}}</span>
         </div>
         <div class="col-md-5">
            <div class="info-container">
               <div class="d-flex justify-content-between align-items-center">
                  <span>{{'checkout.payment_link' | translate}}</span>
               </div>
               <span class="type d-block mt-3 mb-1"></span>
               <form [formGroup]="form" (ngSubmit)="nextStep()" id="ngForm" #documentEditForm="ngForm">
                  <div id="link-authentication-element">
                     <!--Stripe.js injects the Link Authentication Element-->
                   </div>
                  <label class="credit-card-label">{{'checkout.payment.payment_method' | translate}} *</label>
                  <div class="row payment-option" *ngIf="showPaymentOptions">
                     <div class="col-sm-auto">
                        <input type="radio" id="accent" formControlName="paymentMethod" value="card">
                     </div>
                     <div class="col-md-5">
                        <div>{{'checkout.payment.card' | translate}}</div>
                     </div>
                  </div>
                  <div class="row" *ngIf="showPaymentOptions">
                     <div class="col-sm-auto">
                        <input type="radio" id="accent" formControlName="paymentMethod" value="delivery">
                     </div>
                     <div class="col-md-5">
                        <div>{{'checkout.payment.upon_delivery' | translate}}</div>
                     </div>
                  </div>
               
                  <span class="type d-block mt-3 mb-1"></span>
                  <div [hidden]="!showStripe">
                     <div class="checkout">
                        <label for="card-info">Card Info</label>
                        <div id="form-field">
                           <!-- <div id="card-info" #cardInfo></div>
                           <mat-error id="card-errors" role="alert" *ngIf="cardError">
                              <mat-icon style="color: #f44336">cancel</mat-icon>
                              &nbsp;{{ cardError }}
                           </mat-error> -->
                           <div id="payment-element">
                              <!--Stripe.js injects the Payment Element-->
                            </div>
                            <div id="payment-message" class="hidden"></div>
                        </div>
                        <!-- <button id="submit-button" type="submit">
                        Pay ${{total}}
                        </button> -->
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-md-5" *ngIf="checkout">
            <app-checkout-order-overview [checkout]="checkout" [setShipping]="setShipping"></app-checkout-order-overview>
            <button class="btn btn-block d-flex justify-content-between mt-3 box" 
            type="submit" 
            id="submit-button"
            form="ngForm"
            [disabled]="!this.form.valid"
            (click)="nextStep()">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">{{'checkout.payment.order_and_pay' | translate}}<i class="fa fa-long-arrow-right ml-1"></i></span>
            </button>
         </div>
      </div>
   </div>